In [3]:
from helper import *
from funcs import *

In [4]:
import pandas as pd 

train_data = pd.read_csv('gap-development.tsv', sep='\t')
test_data  = pd.read_csv('gap-test.tsv', sep='\t')

**tf.tsv**

always predict A-coref as True and B-coref as False

In [5]:
f_test = open("gap-test.tsv", "r")
result = open("tf.tsv", 'w')
test_data = f_test.readlines()

for line in test_data[1:]:
    attrs = line.split('\t')
    result.write("\t".join([attrs[0]] + ['True', 'False']) + "\n")

f_test.close()
result.close()

In [6]:
!python gap_scorer.py --gold_ts=gap-test.tsv --system_tsv=tf.tsv

gap_scorer.py:126: DeprecationWarning: 'U' mode is deprecated
  with open(filename, 'rU') as f:
Overall recall: 51.8 precision: 45.9 f1: 48.7
		tp 918	fp 1082
		fn 855	tn 1145
Masculine recall: 51.0 precision: 45.3 f1: 48.0
		tp 453	fp 547
		fn 436	tn 564
Feminine recall: 52.6 precision: 46.5 f1: 49.4
		tp 465	fp 535
		fn 419	tn 581
Bias (F/M): 1.03

**closer.tsv**

Predict closer coreference to pronoun as True

In [7]:
f_test = open("gap-test.tsv", "r")
result = open("closer.tsv", 'w')
test_data = f_test.readlines()

for line in test_data[1:]:
    attrs = line.split('\t')
    tf = ['True', 'False']
    if abs(int(attrs[3]) - int(attrs[5])) > abs(int(attrs[3]) - int(attrs[8])):
        tf = ['False', 'True']

    result.write("\t".join([attrs[0]] + tf) + "\n")

f_test.close()
result.close()

In [8]:
!python gap_scorer.py --gold_ts=gap-test.tsv --system_tsv=closer.tsv

gap_scorer.py:126: DeprecationWarning: 'U' mode is deprecated
  with open(filename, 'rU') as f:
Overall recall: 50.1 precision: 44.4 f1: 47.1
		tp 888	fp 1112
		fn 885	tn 1115
Masculine recall: 51.6 precision: 45.9 f1: 48.6
		tp 459	fp 541
		fn 430	tn 570
Feminine recall: 48.5 precision: 42.9 f1: 45.5
		tp 429	fp 571
		fn 455	tn 545
Bias (F/M): 0.94

In [9]:
print_sents(random=True)

development-853 Landrieu was reelected largely on the basis of her 79,000-vote plurality in Orleans Parish. She polled roughly 42,000 votes ahead of Terrell statewide, defeating her 52% to 48%. In a debate with Landrieu in 2002, the senator lashed out at Terrell and told her the Senate race would be ``her last campaign'', but it was not.

development-448 He inadvertently confronted a crowd of people gathered around a preacher, Nazir Ahmad Ali, who was to later become a pioneering missionary in Sierra Leone. Whilst Ali was preaching, a chief requested Salih to judge the message brought by Ali. With the exception of two things, which ``held his throat'', Salih found that the message coincided with the teachings of the Quran.

development-1055 Five rooms from her Park Avenue apartment were installed in a memorial building after her death in 1960, bringing Webb's collection of works by Monet, Manet, and Degas to the museum grounds. A large pastel by Mary Cassatt, showing a young Electra Havemeyer with her mother Louisine, enjoys a place of honor in the entry hall.

development-886 In this episode, his character's last name is Peters (later Hale). With Becky going back to work, Jesse becomes ``Mr. Mom'', while also trying to pursue a record deal. Meanwhile, Danny deals with Vicki leaving, and Stephanie accidentally stains D.J's sweater, which she had told her not to wear.

development-778 Rosemary admits to Philip Martin (Ian Rawlings) that she feels guilty about not coming back sooner, but Philip tells her that Helen knew how much she loved her. On the eve of Helen's funeral, Rosemary makes her peace with Debbie.

development-1017 Pontianak Harum Sundal Malam, also known as Pontianak Scent of the Tuber Rose or Fragrant Night Vampire, is a 2004 Malaysian horror film directed and written by Shuhaimi Baba. Starring Maya Karin, the film is about a restless spirit (pontianak) Meriam who seeks revenge upon those who killed her.

development-1755 Irina Pruidze (Georgian: ***** ******, born 1976 in Tbilisi, Georgia) is Secretary General of the Georgian Organization of the Scout Movement and the outgoing Regional Chair of the Eurasia Regional Scout Committee of the World Organization of the Scout Movement (WOSM). Pruidze is the daughter of physicist Vazha Pruidze and chemist Aida Dzvelaia. She studied medicine at Tbilisi State Medical University and psychology at Tbilisi Institute of Anthropology and Political Science.

development-896 In a November 1994 special election, early favorite Gregory-Scocchi was defeated by Barbara Buono, after disclosures that a temporary employment firm owned by Gregory-Scocchi had hired illegal immigrants. Derman become Whitman's chief counsel in May 1996 and became her chief of staff a few weeks later when Peter Verniero was named as New Jersey Attorney General as part of a series of changes made after the resignation of New Jersey Supreme Court Chief Justice Robert Wilentz.

development-1809 Her unusual appearance was also put memorable use in two off-beat television series, each featuring odd characters in quirky scenarios: the HBO series Dream On (1990) and David Lynch 's short-lived On the Air (1992), which was cancelled after only three episodes. Like Cry-Baby, the latter series was set in the 1950s; McGuire played the role of Nicole Thorne, a ``shrewish publicist'' to a television executive. Notwithstanding the quirkiness of the series, she grasped the opportunity to break away from her Hatchetface image.

development-677 After juniors, MacPhee remained on Birt's team, and would play second once again. The team won the provincial women's title in 2003 and would lose in the semi-final at the 2003 Scott Tournament of Hearts. MacPhee left Birt's team afterwards and joined up with her sister, Rebecca Jean MacDonald (n*e MacPhee) as her second.

In [10]:
import pandas as pd

In [11]:
train_data = pd.read_csv('gap-development.tsv', sep='\t')
test_data = pd.read_csv('gap-test.tsv', sep='\t')
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              2000 non-null   object
 1   Text            2000 non-null   object
 2   Pronoun         2000 non-null   object
 3   Pronoun-offset  2000 non-null   int64
 4   A               2000 non-null   object
 5   A-offset        2000 non-null   int64
 6   A-coref         2000 non-null   bool
 7   B               2000 non-null   object
 8   B-offset        2000 non-null   int64
 9   B-coref         2000 non-null   bool
 10  URL             2000 non-null   object
dtypes: bool(2), int64(3), object(6)
memory usage: 144.7+ KB

**subject_pronoun.tsv**

Predict farther coreference pronoun as True when pronoun is subject pronoun (he, she).
Predict closer coreference pronoun as True when pronoun is not subject pronoun, which is object or possessive pronoun(her, his, him).

In [12]:
pronouns = set(train_data['Pronoun'])
pronouns

{'He', 'Her', 'His', 'She', 'he', 'her', 'him', 'his', 'she'}

In [13]:
result = open("subject_pronoun.tsv", 'w')

for attrs in test_data.iloc:
    pro, pro_id = attrs[2:4]
    A, A_id = attrs[4:6]
    B, B_id = attrs[7:9]

    if pro.lower() in ['he', 'she']:
        if abs(pro_id - A_id) > abs(pro_id - B_id):
            tf = ['TRUE', 'FALSE']
        else:
            tf = ['FALSE', 'TRUE']
    else:
        if abs(pro_id - A_id) > abs(pro_id - B_id):
            tf = ['FALSE', 'TRUE']
        else:
            tf = ['TRUE', 'FALSE']

    result.write("\t".join([attrs[0]] + tf) + "\n")

f_test.close()
result.close()

In [14]:
!python gap_scorer.py --gold_ts=gap-test.tsv --system_tsv=subject_pronoun.tsv

gap_scorer.py:126: DeprecationWarning: 'U' mode is deprecated
  with open(filename, 'rU') as f:
Overall recall: 58.3 precision: 51.6 f1: 54.8
		tp 1033	fp 967
		fn 740	tn 1260
Masculine recall: 59.4 precision: 52.8 f1: 55.9
		tp 528	fp 472
		fn 361	tn 639
Feminine recall: 57.1 precision: 50.5 f1: 53.6
		tp 505	fp 495
		fn 379	tn 621
Bias (F/M): 0.96

In [15]:
false_case = 0
for attrs in test_data.iloc:
    if attrs[6] == attrs[9]:
        false_case += 1

false_case/len(test_data)

0.1135

# subject.tsv

draw a relation between two proper nouns with sentence structure

(e.g. Which one is the subject?)

In [16]:
import nltk
sent = "In the next pair, Mikhaylov equalled Grishin's time and they shared Olympic gold."
tagged_sent = nltk.pos_tag(nltk.word_tokenize(sent))

Classify train_data into several categories

1. When words are inside parenthesis
2. When words appear after the pronoun
 * When the pronoun is subject pronoun
 * When the pronoun is object/possessive pronoun
3. When the both coreferences are false
4. When only one word is subject
5. When the both words are subject
6. When none of the words are subject
 * When a word appears multiple times
 * When both word appears same time

In [17]:
import pandas as pd 

train_data = pd.read_csv('gap-development.tsv', sep='\t')
test_data  = pd.read_csv('gap-test.tsv', sep='\t')

## 1. When words are inside parenthesis
Assume when word is inside parenthesis, coreference is always false

In [18]:
def isparenthesis(row):
    sent = row['Text']
    A = row['A']
    A_id = row['A-offset']
    B = row['B']
    B_id = row['B-offset']

    return (not (sent[A_id-1] == "(" and sent[A_id+len(A)] == ")"),
            not (sent[B_id-1] == "(" and sent[B_id+len(B)] == ")"))

def only_parenthesis(row):
    return sum(isparenthesis(row)) == 1

In [19]:
parenthesis_data = train_data[train_data.apply(only_parenthesis, axis=1)]

In [20]:
print_sents(datas={'manual':True, 'data':parenthesis_data}, num_lines = 10)

development-562 He was named to the NCAA All-Tournament team in 1980, and two first All Star teams in 1981. He began his playing career with the Pittsburgh Penguins who drafted him in the 6th round of the 1979 NHL Entry Draft. Chorney was traded to the Los Angeles Kings for a 6th round choice (Stuart Marston) in the 1985 NHL Entry Draft. After spending a season with the Kings, he was signed by the Washington Capitals but failed to earn a spot on the roster.

development-373 Bea Binene as George (Campus Tomboy) - She plays the boyish character that caught up in the ``bestfriend syndrome'', she tries to hide her feelings for her best friend enemy and instead, helps him get closer to Chloe. Jake Vargas as Jepoy (Guitar Enthusiast) - the group's resident rocker. He is head-over-heals in love with Chloe (Lexi Fernandez) and tries to get closer to her through his best friend George.

development-1765 During the restaurant's 1980s heyday at the top of the Zagat's survey, it was mentioned in Wall Street (1987) by Gordon's call girl when talking to Bud Fox (Charlie Sheen). Mentioned in Crossing Delancey by Isabelle Grossman (Amy Irving) as the place of her intended birthday dinner.

development-1436 Gris exhibited with the painters of the Puteaux Group in the Salon de la Section d'Or in 1912. His preference for clarity and order influenced the Purist style of Am*d*e Ozenfant and Charles Edouard Jeanneret (Le Corbusier), and made Gris an important exemplar of the post-war ``return to order'' movement. In 1915 he was painted by his friend, Amedeo Modigliani.

development-268 Drum grows up to be a fighter and is often forced to bare-knuckle-box other slaves for the entertainment of the owners, one of whom is a gay Frenchman named Bernard DeMarigny (Colicos). DeMarigny wants to sleep with Drum, but his advances are rejected by the slave and DeMarigny vows revenge against Drum. Drum and his friend Blaise (Kotto) are eventually sold to plantation owner Hammond Maxwell (Oates) and are both taken to his plantation to work.

development-176 When Herman and Fred are arrested and imprisoned for petty theft charges, Ma takes over the group and leads Arthur and Lloyd on a bank robbery spree to gain enough money to get her sons out of jail. The gang is joined by a gunman named Kevin (Bruce Dern) who was Fred's cellmate during his incarceration (and his strongly implied lover).

development-146 Rocky intervenes, and after seemingly beating the living daylights out of the supposed thugs (the scene is similar to Jean-Claude Van Damme's introductory action sequence from Hard Target (1993)), introduces himself to Natasha, and proceeds to show himself off as a charming professional with a heart of gold. Somewhat awed, Natasha offers Rocky an invitation for tea later in the evening, which he accepts. When Rocky arrives at her villa later in the evening, he is confronted by several obstacles, Natasha's sister Sweety (Supriya Pilgaonkar), the jealous Tommy and the family's pet dog.

development-590 Roscoe and his wife had seven sons and three daughters, including William Stanley Roscoe (1782--1843), a poet, Thomas Roscoe (1791--1871), translator from Italian, and Henry (1800--1836), a legal writer who wrote his father's biography. Henry's wife, Maria Roscoe (n*e Fletcher) (1798-1885), was the author of Vittoria Colonna: Her Life and Times, and their son Henry Enfield Roscoe (1833--1915) was a chemist and vice-chancellor of the University of London.

development-954 Lance is in a non-committal relationship with a younger teacher named Claire (Alexie Gilmore), who is spending time with a fellow teacher named Mike (Henry Simmons), whose writing class is more successful than Lance's. On nights when Claire cancels their dates and he is alone, Lance bonds with his elderly neighbor Bonnie (Mitzi McCall).

development-1297 While discussing Hodgson iIn December 1942, then General, Eisenhower stated, ``The four years we spent in the same room more than a quarter of a century ago are still one of my most treasured memories.'' While P.A., (Hodgson), was talking with Eisenhower about running in the 1948 US Presidential Election, he said to Ike, ``I think you'd make an excellent President, but am not sure you'd be very happy doing it''.

result : 22 out of 31 sentences are predicted correct --> accuracy : 71%

## 2. When words appear after the pronoun
Assume coreference of words coming after the pronoun is false

In [21]:
after_pronoun = []

for row in train_data.iloc:
    if row['Pronoun-offset'] < row['A-offset'] or row['Pronoun-offset'] < row['B-offset']:
        after_pronoun.append(row)

after_pronoun = pd.DataFrame(after_pronoun, columns=train_data.columns)

In [22]:
after_subject_pronoun = after_pronoun[after_pronoun['Pronoun'].isin(['he', 'she', 'He', 'She'])]
after_other_pronoun = after_pronoun[after_pronoun['Pronoun'].isin(['his', 'her', 'him', 'His', 'Her', 'Him'])]

In [23]:
print_sents(datas={'manual':True, 'data':after_subject_pronoun}, num_lines = 10)

development-336 After the horrific plane crash of Wisteria Lane, the housewives think of their lives different ways. If Susan had stayed married to Karl and gotten fat; Bree imagines if Orson had died and Karl had taken her away; Angie imagines if Mona had survived and told the police everything she knows about the Bolen secret; Gabrielle thinks of Celia's future where she turns up to be an old woman; and Lynette imagines if Patrick had lived, but learns that Patrick died and Paige survived.

development-1338 Tina is later annoyed when she discovers Shirley is allowing Sylvie to sleep all day to avoid caring for her, and when Shirley goes to prison to help alleviate Mick's debts, Tina accuses her of doing so just to avoid Sylvie. Tina then struggles on her own, and eventually decides to place her in care. The day before she is due to be asseessed, Tina throws Sylvie a party.

development-323 Following the death of Tewodros II's much loved first wife, Empress Tewabech Ali (who was Tiruwork's niece), his intimates began to discreetly look for an appropriate consort to provide him with an heir and to calm his more extreme moods as his late wife had done. Legend states that one of the Emperor's officers was attending Sunday services at a church at Derasge when Tewodros was staying there, and was struck at the beauty, the aristocratic deportment, and the deep piety of a woman worshiping there. He immediately went to the Emperor and told him he had seen the woman ``meant to be the wife of my sovereign''.

development-498 Maxim Gvinjia ( ) is the current Minister of Foreign Affairs of Abkhazia. Before he was appointed on 26 February 2010 to replace Sergei Shamba, Gvinjia had served as Deputy Minister for Foreign Affairs since 1 March 2004.

development-177 The organization of the household was so efficient that it alone could fully satisfy the needs of the tsar's court. One of the biggest zoos in Europe at that time could also be found in Izmaylovo manor. Unfortunately, after the death of Aleksey Mikhailovich the estates were abandoned and a lot of the buildings and facilities fell into decline. When he was a child, Peter the Great used the territory and the gardens for his war games; the remains of the redoubts he built are still partially preserved.

development-1210 All her force, and it is the more tremendous for being constricted, goes into the assertion, 'I love. I hate. I suffer. '''-- Virginia Woolf. The Daily Telegraph's, Lucy Hughes-Hallett argues that Villette is greater than Bront*'s most famous work Jane Eyre. She states that the novel is ``an astonishing piece of writing, a book in which phantasmagorical set pieces alternate with passages of minute psychological exploration, and in which Bront*'s marvellously flexible prose veers between sardonic wit and stream-of-consciousness, in which the syntax bends and flows and threatens to dissolve completely in the heat of madness, drug-induced hallucination and desperate desire.''

development-60 According to a Rolling Stone interview (conducted in 1985), Lindsay left The Raiders because ``there was a contractual thing I didn't agree with, and I just stopped.'' Lindsay continued to record solo singles for a few years (for Warner Bros., Elka and Greedy Records) before retiring from performing to serve as head of A&R for United Artists Records. He contributed to the recordings of artists such as Gerry Rafferty (on ``Baker Street''), Kenny Rogers, and others.

development-119 Heightened political pressure and illness pushed Gordillo out from public life for about a year, though she did hold on to her post as the PRI secretary general. In early 2005 Gordillo returned to public life and Roberto Madrazo greeted her with open arms. According to PRI rules, Gordillo, as secretary general of the party, should have replaced Madrazo when he stepped down; but, in a surprise move, Mariano Palacios Alcocer took Madrazo's position instead of Gordillo, who publicly broke with Madrazo just few days before Palacios Alcocer's election.

development-1370 Ian Law who held a splinter claim to the British Middleweight Championship at the time (the main lineage being held by Brian 'Goldbelt' Maxine) was helping his friend to run the show. One of the wrestlers had got himself seriously injured two weeks out from the show and his friend asked McDonald if he would stand in for the missing man, like nearly everyone, McDonald was convinced that wrestling was all show and that anyone could do it, but McDonald was in for a shock, he had a two week crash course before first pro match against Wild Angus, The match lasted 5 rounds with Angus beating McDonald by the final bell.

development-418 Alice went to live with Nick's sister Kathy, who desperatley tried to contact Elsa but was shocked to discover she'd moved to Australia without telling anyone. Relising she was all Alice had left and just how selfish and uncaring Elsa was, Kathy took custody of Alice.

In [24]:
def after_pronoun_predict(data):
    A_pred = []
    B_pred = []
    for row in data.iloc:
        A_value = False if row['A-offset'] > row['Pronoun-offset'] else True
        B_value = False if row['B-offset'] > row['Pronoun-offset'] else True

        A_pred.append(A_value)
        B_pred.append(B_value)

    data['A-pred'] = A_pred
    data['B-pred'] = B_pred

In [25]:
after_pronoun_predict(after_subject_pronoun)
after_pronoun_predict(after_other_pronoun)

<ipython-input-24-ceb8dec2fe17>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['A-pred'] = A_pred
<ipython-input-24-ceb8dec2fe17>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['B-pred'] = B_pred

In [26]:
print(accuracy(after_subject_pronoun))
print(accuracy(after_other_pronoun))

0.411214953271028
0.2133676092544987

Result : It doesn't really matter whether a word comes after the pronoun or not

## 3. When the both word coreference is false

Let's find out what they have in common.

In [27]:
false_cases = 0
for row in train_data.iloc:
    if row['A-coref'] == row['B-coref']:
        false_cases += 1

print(false_cases/len(train_data))
print(false_cases)

0.1005
201

There are more than 10 percent of these kind of cases

In [28]:
falses_data = train_data[(train_data['A-coref'] == False) & (train_data['B-coref'] == False)]

In [29]:
print_sents(datas={'manual':True, 'data':falses_data}, num_lines = 10)

development-1747 On 21 October 1710, Ashburnham married Lady Mary Butler (died 1713), the second daughter of James Butler, 2nd Duke of Ormonde. After her death, he married, on 25 July 1714, Henrietta, Dowager Countess of Anglesey and 4th Baroness Strange; they had one child, Henrietta (c.1716--1732), later 5th Baroness Strange.

development-969 The second single, released on August 5, 2016, was Hollywoodn't. The music video was once again directed by Santiago Felipe and explores the dark side of Hollywood. In the video, Needles portrays Elizabeth Short a.k.a. 'The Black Dahlia', Sharon Tate and Jayne Mansfield. Her third studio album, Battle Axe, debuts on October 6, 2017, along with a video for the single of the same name.

development-1271 Otto I (c. 1128 -- July 8, 1184) was the second Margrave of Brandenburg, from 1170 until his death. Otto I was born into the House of Ascania as the eldest son of Albert I (``Albert the Bear''), who founded the Margraviate of Brandenburg in 1157, and his wife Sophie of Winzenburg. He had three sisters and six brothers, the best known of whom were Prince-Archbishop Siegfried of Bremen, and Count Bernhard of Anhalt, later Duke of Saxony.

development-1577 As the Director of Authorities Unit, Paul worked as the New Jersey Governor's liaison to the State of New Jersey's 53 independent authorities, boards and commissions, which include the Port Authority of New York and New Jersey, the Sports and Exposition Authority, the Casino Reinvestment and Development Authority, and the Economic Development Authority. Paul superintended more than 44,000 employees, and an annual aggregate revenue stream exceeding $14 billion. In 2004, Paul was asked to serve as Chief Counsel to then Governor James E. McGreevey. Upon on the resignation of James E. McGreevey as Governor and his replacement by Richard J. Codey as acting Governor of New Jersey, Paul was asked to serve as Codey's Chief Counsel and provide legal counsel to, and representation for, the Governor of the State of New Jersey on a daily basis pertaining to issues involving all aspects of state governance.

development-413 Samuel Johnson and Topham Beauclerk debated whether Hackman had meant to kill only himself. Johnson believed that the two pistols Hackman took with him to Covent Garden meant that he intended there to be two deaths. Boswell himself (who had visited Hackman in prison) wrote that the case showed ``the dreadful effects that the passion of Love may produce''. In his Mind-Forg'd Manacles (1987), the social historian Roy Porter argues that Hackman was well aware of the madness of his passion.

development-816 Moose has numerous television appearances and several magazine covers to his credit. There is an official Moose calendar and an ``autobiography'', My Life as a Dog, which was written by Brian Hargrove, husband of actor David Hyde Pierce who portrays Niles Crane in Frasier. Moose spent the last six and a half years of his life in retirement in West Los Angeles with son Enzo, their trainer Mathilda DeCagny, her husband Michael Halberg and Jill, the dog from As Good as It Gets.

development-1427 As part of his breeding and training programs he was part owner (with Harold Syner of Wajima fame) of Alamare Farm in Lexington, Kentucky and joint owner of Meadow Wood Training Center in Ocala, Florida. DiMauro is responsible for mentoring and developing many of the horsemen involved in Thoroughbred racing today. His experience and insight into the sport has earned him much respect among many. He gave Richard Migliore a chance, and Richard ``The Mig,'' was a well-known jockey for many years until his retirement in June 2010, and is still involved in the sport with the New York Racing Association.

development-1926 However, Phil rejects Shirley so she apologises to Heather, who is staying with Minty, but she refuses to forgive her friend. Heather is upset when she hears Minty plans to marry Sam Mitchell (Danniella Westbrook), but offers to help buy a ring. However, when Sam reveals she only agreed to marry Minty in order to shut him up, Minty apologises to Heather, and she says when they married it gave her the confidence to stand up for herself.

development-918 The doctors all working together for a perfect plan, all based on perfect timing, is intense and powerful.'' The season was praised for bringing the focus back on the central character Meredith Grey portrayed by Ellen Pompeo. The A.V. Club wrote, ``when it comes to creating disasters and accidents and catastrophes to weave her cast around, no one does it better than Shonda Rhimes.

development-395 More reliable sources suggest that the ``Santa Cruz'' in actuality refers to the crossroads located in the Meadow of Mudela (so called for its proximity to the pass of Muradal, one of the entrances to the Central Meseta through the Andalusian Plain). On January 30, 1538, Don *lvaro the Elder bought off from Carlos I the towns of Santa Cruz de Mudela and Viso del Puerto (Muradal), under his own terms and along with civil and criminal jurisdiction, for 26,208,626 maraved*es (for comparison, Ferdinand Magellan's epic voyage around the earth, financed by Carlos I in 1518, cost 8,751,125 maravedis).

We can see that there are some patterns in both false sentences

1. There is another pronoun appeared before.
2. when both word is behind the pronoun, and the subject of the sentence is NNP.

1. There is another pronoun appeared before

In [30]:
def prior_pronoun(row):
    token_dict = tokenized_index(row)

    words = token_dict['words']
    word_index = token_dict['word_index']

    male = ['He', 'His', 'Him', 'he', 'his', 'him']
    female = ['She', 'Her', 'she', 'her', 'hers']

    pro_id = word_index[row['Pronoun-offset']]
    A_id = word_index[row['A-offset']]
    B_id = word_index[row['B-offset']]

    if row['Pronoun'] in male:
        for i, word in enumerate(words[:pro_id]):
            if word in male and i < min(A_id, B_id):
                return True
        return False
    elif row['Pronoun'] in female:
        for i, word in enumerate(words[:pro_id]):
            if word in female and i < min(A_id, B_id):
                return True
        return False

    else:
        print("Unexpected pronoun : {}", row['Pronoun'])

In [31]:
prior_pronoun_data = apply_model(train_data, [prior_pronoun], lambda x: (False, False))

1141 0.10429447852760736

In [32]:
def another_subject(row):
    token_dict = tokenized_index(row)

    tagged_sents = token_dict['tagged_sents']
    sents = token_dict['sents']
    word_index = token_dict['word_index']
    sent_index = token_dict['sent_index']

    pro_sent_id = sent_index[word_index[row['Pronoun-offset']]]

    def first_noun(sent):
        for word, tag in sent:
            if tag.startswith('NN') or tag.startswith('PR'):
                return (word, tag)

    word, tag = first_noun(tagged_sents[pro_sent_id])
    if tag.startswith('NNP') and not word in [row['A'].split()[0], row['B'].split()[0]]:
        return True

    return False

In [33]:
def both_latter(row):
    if row['A-offset'] > row['Pronoun-offset'] and row['B-offset'] > row['Pronoun-offset']:
        return True

    return False

mask = train_data.apply(both_latter, axis=1)
both_latter_data = train_data[mask]

In [34]:
another_subject_data = apply_model(train_data, [both_latter, another_subject], lambda x: (False, False))

48 0.5833333333333334

In [35]:
print_sents(datas={'manual':True, 'data':another_subject_data}, num_lines = 5)

development-336 After the horrific plane crash of Wisteria Lane, the housewives think of their lives different ways. If Susan had stayed married to Karl and gotten fat; Bree imagines if Orson had died and Karl had taken her away; Angie imagines if Mona had survived and told the police everything she knows about the Bolen secret; Gabrielle thinks of Celia's future where she turns up to be an old woman; and Lynette imagines if Patrick had lived, but learns that Patrick died and Paige survived.

development-46 The feature-length documentary traced the journey of the song, Hava Nagila, from the Ukraine to YouTube. Released theatrically and screened at 80 Jewish film festivals, Hava Nagila:The Movie was either opening or closing night at more than half of those festivals. Director Dyanna Taylor's film about her grandmother, the photographer Dorothea Lange, Grab a Hunk of Lightning, aired on PBS's ``American Masters'' in 2014 and was produced by Grossman.

development-1187 In 1997, he contended the WBO World Title fight in Nashville, narrowly losing to Henry Akinwande on points. In all, he had 26 professional fights, with 22 wins and an impressive 17 knock-outs. As Head Trainer at the Hove ABC, working alongside his old coach Dave Brown, Scott has dedicated much of his time to training fighters since he retired in 1999.

development-1236 After camping near Torvioll, Skanderbeg placed 3,000 men under five commanders, Hamza Kastrioti, Muzaka of Angelina, Zecharia Gropa, Peter Emanueli, and John Musachi, in the surrounding forests with orders to attack the Ottoman wings and rear only after a given signal. While Skanderbeg was preparing his ambush, the Ottoman Turks under Ali Pasha arrived and encamped opposite his forces.

development-848 Smear would usually play his parts on a baritone guitar, which would both contrast with Grohl and Shiflett and add a heavier sound - as Grohl declared, ``if we ever felt like a section wasn't heavy enough, we put the fuckin' baritone on it, and it became huge.'' Hawkins added many buzz rolls to his drum fills at the suggestion of Vig, as buzz rolls were a trademark of one of the producer's favorite drummers, Ian Paice.

## 4. When only one word is subject
Assume that subject word is always true, and other word is always false

In [36]:
subject_data = train_data[train_data['Pronoun'].isin(['he', 'she', 'He', 'She'])]
other_data = train_data[train_data['Pronoun'].isin(['his', 'him', 'her', 'His', 'Him', 'Her'])]
print(len(subject_data))
print(len(other_data))

801
1199

In [37]:
row = test_data.iloc[1716]
print(row['Text'], row['A'], row['B'])

The status of the show itself is unknown as it was originally expected to premiere in late 2008, but production has since been pushed back indefinitely. In 2011, Berkley published Ask-Elizabeth, a self-help book for teenage girls which drew from the workshops she conducted for the Ask-Elizabeth program. Berkley Elizabeth

In [38]:
overall_analysis(train_data, [only_subject], [word_subject, latter_word])

100%|██████████| 10/10 [01:16<00:00,  7.62s/it]

   Pronoun  Length  Accuracy0  Accuracy1
0       He      87   0.885057   0.241379
1      She     115   0.921739   0.208696
2      His      18   0.777778   0.388889
3      Her      19   0.736842   0.210526
4       he     139   0.791367   0.374101
5      she     147   0.768707   0.435374
6      his     306   0.767974   0.535948
7      him      58   0.431034   0.534483
8      her     270   0.648148   0.607407
9     hers       0   0.000000   0.000000
10   total    1159   0.749784   0.458154

## 5. When both words are subject
Assume that latter word is True, while the other is False

In [39]:
both_subject_data = train_data.apply(both_subject, axis=1)
both_subject_data = train_data[both_subject_data]
len(both_subject_data)

202

In [40]:
print_sents(datas={'manual':True, 'data':both_subject_data}, num_lines = 10)

development-1515 On the 8th of May 1992, Compton was surprisingly appointed as manager of Torquay, shortly after their relegation back to the bottom flight of the Football League. The expected push for promotion did not materialise and Torquay found themselves in a relegation battle, which, only after Neil Warnock was brought in and Compton had reverted to his old youth coach role, they survived.

development-607 He returned to St. Louis in 1837. That year, his half-brother Tom Tobin, then 14 years old, left with Charles and his colleague Ceran St. Vrain to return to Taos. Tom worked as a trapper and scout at Bent's Fort and in Taos. Along with his brother, Tobin worked at Simeon Turley's store, mill, and distillery at Arroyo Hondo.

development-1269 Going into the season, manager Rogers Hornsby was optimistic that they would have a better club with more power overall, citing Landrith as one of the new players that could help the 1953 Reds be a success. Hornsby made it clear that veteran Andy Seminick would be the number one catcher on the depth chart for the Reds, but also said that Landrith would get a ``good look'' after witnessing his performance with the Reds at the end of the 1952 season, praising that he liked his ``hustle.''

development-544 The man threatened Elizabeth with a knife (which Mary Katherine thought was a gun at the time) When Elizabeth said ``ouch'' after stubbing her toe on a chair, Mitchell said something that sounded like: ``You better be quiet, and I won't hurt you.'' She heard Elizabeth ask ``Why are you doing this?'' and though the answer was not clear, Mary Katherine thought the answer might have been ``for ransom.''

development-1048 Eve Brent (September 11, 1929 -- August 27, 2011) was a Saturn Award -winning American actress. She was often billed as Jean Lewis.

development-1199 Upon confronting him, she realizes that the man (Philippe Nicaud) is not Lalemand, and she leaves soon afterwards to return to his residence. There, she finds out that the real Lalemand is an acquaintance to Flor*s and Daisy, who have given a false statement when Lalemand was still a suspect. Virginie is told that Anita was Lelemand's father's mistress and that she had permission to profit from Lelemand's $50 million inheritance while she was still alive.

development-1359 Porter worked to raise the standards of the US Navy in the position of superintendent of the Naval Academy when it was restored to Annapolis. He initiated reforms in the curriculum to increase professionalism. In the early days of President Grant's administration, Porter was de facto Secretary of the Navy. When his adoptive brother David G. Farragut was advanced from rank of vice-admiral to admiral, Porter took his previous position; likewise, when Farragut retired, Porter became the second man to hold the newly created rank of admiral. He gathered a corps of like-minded officers devoted to naval reform.

development-1361 Franky instantly let her affection clear to Karen but this disgusted Karen. who let Franky know exactly how to get on her nerves if she did not get what she wanted. Franky later allowed viewers to get their first sighting of solitary, when she was put there after trashing the Recreation Room (this was when Franky gave Vera Bennett the nickname made for her: Vinegar Tits). Doreen later ignored Franky while Bea was with her to protect Doreen, but Franky soon won Doreen over.

development-1895 As children, the Roberts siblings attended Jefferson School in Minneapolis. While attending Jefferson School, Roberts made a life long friendship with Jane ``Jennie'' Lyon Cleveland as well as Joseph and Susan Kingman. The friendship with Joseph and Susan Kingman was beneficial for Roberts later in life when she needed funding for the Handicraft Guild.

development-1137 She demands that the driver let her off, and he grudgingly does so, insisting that she won't get her money back. The walk back to the caf* takes 2 hours in the smoldering heat. When Noreen returns to the caf*, Lynda is still furious with her but Del defends her, saying that it would have collapsed sooner or later because of the water damage.

In [41]:
overall_analysis(train_data, [both_subject], [latter_word, former_word, closer_word, farther_word])

100%|██████████| 10/10 [00:28<00:00,  2.88s/it]

   Pronoun  Length  Accuracy0  Accuracy1  Accuracy2  Accuracy3
0       He      10   0.500000   0.400000   0.500000   0.400000
1      She      14   0.571429   0.428571   0.500000   0.500000
2      His       4   0.750000   0.250000   0.750000   0.250000
3      Her       0   0.000000   0.000000   0.000000   0.000000
4       he      18   0.833333   0.055556   0.833333   0.055556
5      she      25   0.640000   0.200000   0.640000   0.200000
6      his      42   0.690476   0.261905   0.690476   0.261905
7      him      22   0.181818   0.681818   0.181818   0.681818
8      her      67   0.597015   0.358209   0.611940   0.343284
9     hers       0   0.000000   0.000000   0.000000   0.000000
10   total     202   0.594059   0.331683   0.594059   0.331683

## 6. When both words are not subject

In [42]:
none_subject_data = train_data.apply(none_subject, axis=1)
none_subject_data = train_data[none_subject_data]
len(none_subject_data)

639

In [43]:
overall_analysis(train_data, [none_subject], [latter_word, former_word, closer_word, farther_word])

100%|██████████| 10/10 [00:30<00:00,  3.07s/it]

   Pronoun  Length  Accuracy0  Accuracy1  Accuracy2  Accuracy3
0       He      41   0.390244   0.463415   0.439024   0.414634
1      She      50   0.280000   0.420000   0.240000   0.460000
2      His      11   0.181818   0.454545   0.181818   0.454545
3      Her      19   0.368421   0.368421   0.368421   0.368421
4       he      78   0.423077   0.371795   0.423077   0.371795
5      she      77   0.337662   0.402597   0.324675   0.415584
6      his     148   0.452703   0.290541   0.506757   0.236486
7      him      18   0.555556   0.222222   0.555556   0.222222
8      her     197   0.502538   0.319797   0.507614   0.314721
9     hers       0   0.000000   0.000000   0.000000   0.000000
10   total     639   0.428795   0.347418   0.441315   0.334898

In [44]:
overall_analysis(train_data, [none_subject, both_latter, another_subject], [lambda x: (False, False)])

100%|██████████| 10/10 [00:31<00:00,  3.17s/it]

   Pronoun  Length  Accuracy0
0       He       0   0.000000
1      She       0   0.000000
2      His       0   0.000000
3      Her       0   0.000000
4       he       2   0.500000
5      she       2   1.000000
6      his      13   0.692308
7      him       0   0.000000
8      her       4   0.750000
9     hers       0   0.000000
10   total      21   0.714286

In [60]:
print_sents(datas={'manual':True, 'data':none_subject_data[none_subject_data.apply(lambda row: row['Pronoun'] in ['He','She','His','Her'], axis=1)]}, num_lines = 10)

development-1488 Released in November 1987, the album was produced by Peter Cetera and would be her last for 17 years. Recorded mainly in Los Angeles and Malibu, California, I Stand Alone was produced by Peter Cetera, the former singer and bass guitar player with American rock band Chicago. He duetted with F*ltskog on the track ``I Wasn't the One (Who Said Goodbye)'', (No.93 Billboard Hot 100 and No.19 Adult Contemporary in the U.S.) The co-producer of the album was Bruce Gaitsch, with whom F*ltskog was in a relationship at the time.

development-839 Rino Kawashima (PC), Kei Mizusawa (Drama CD/PSP/anime) Machi is a female teacher who teaches Japanese at Yuihime Girls' Academy. She is the homeroom teacher of Shingo's class, 2-T; Airi, Angelina, Sana and Hayata are also in the same class. She is shy and is not good at talking with young men, but she actually likes boys' love.

development-225 John Nixon (May 10, 1815 - June 3, 1899), English mining engineer and colliery proprietor, was born at Barlow, Durham, the son of a farmer. He was educated at the village school, and at an academy in Newcastle-on-Tyne, where he distinguished himself in mathematics.

development-1908 Translations from the Poetry of Rainer Maria Rilke; Letters To a Young Poet; Sonnets To Orpheus; Rilke On Love and Other Difficulties; Duino Elegies; Stories of God. The cover designs feature original paintings by Baldock. Weaver, Kathleen, Peruvian Rebel, The World of Magda Portal, With a Selection of Her Poems, Penn State University Press, 2009.

development-590 Roscoe and his wife had seven sons and three daughters, including William Stanley Roscoe (1782--1843), a poet, Thomas Roscoe (1791--1871), translator from Italian, and Henry (1800--1836), a legal writer who wrote his father's biography. Henry's wife, Maria Roscoe (n*e Fletcher) (1798-1885), was the author of Vittoria Colonna: Her Life and Times, and their son Henry Enfield Roscoe (1833--1915) was a chemist and vice-chancellor of the University of London.

development-906 At the Top 24 round as part of Group 1, Jermaine sang ``Steal My Girl'' together with Vanessa Devi, Shanice Hedger and Ruth Matthews as the whole group, and ``Blank Space'' in the solo round, and was sent through to the next round. She sang ``Lay Me Down'' in the Top 16 round and made it through to the finals, singing ``A Sky Full of Stars'' as a group of top 10 finalists and ``Almost Is Never Enough'' in the solo segment of the Identity round.

development-173 On March 21, 2006, Murray was fired by the Kings and was replaced on an interim basis by John Torchetti. He provided colour commentary for the Canadian Broadcasting Corporation during their Hockey Night in Canada telecasts of the 2006 Stanley Cup playoffs. On December 11, 2006, the Blues hired Murray to replace Mike Kitchen as head coach after a seven game losing streak. He coached the Blues to a record of 33--36--13 in his first full season as coach in 2007--2008.

development-409 Deanna graduated with a degree in graphic design. She had been working in this field for approximately a year and a half when she was asked to go on tour with a band. That band was ``Mask'', based in Willoughby, Ohio which featured Deanna in various costumes dressed as Madonna, Cher, Tina Turner and others, and local drummer Steve Shutts, local male vocalist Dave Richards, and a couple of fellow Canadians. She quit that gig after friends urged her to move on, and Deanna has never looked back.

development-928 He is also the chairman of the Troy Aikman Foundation, a charity to benefit children that has recently focused on building playplaces for children's hospital s. Marketing handles Aikman's marketing activities, where Jordan Bazant is his lead agent. Aikman, who in 1999 was ranked No. 95 on The Sporting News list of the 100 Greatest Football Players, has been the official Wing Stop spokesman for several years. He appeared in the Simpsons episode ``Sunday, Cruddy Sunday'' alongside former Miami Dolphins quarterback Dan Marino, he participated in a 2001 video honoring Billy Graham 's 83rd birthday, and was invited to be on Dancing with the Stars but turned it down.

development-1386 Du Xi (fl. 190s--231), courtesy name Zixu, was an adviser to the warlord Cao Cao in the late Eastern Han dynasty. He was a subordinate of Cao Cao's general Xiahou Yuan.

1. when two words are close to each other, referred words are more likely to be coreferred word.

 * {True word} (,?) and {Pronoun}

In [46]:
def CC_pronoun(row):
    token_dict = tokenized_index(row)

    tagged_words = token_dict['tagged_words']
    word_index = token_dict['word_index']

    pro_index = word_index[row['Pronoun-offset']]
    A_index = word_index[row['A-offset']]
    B_index = word_index[row['B-offset']]

    def coref(index):
        if index+5 >= len(tagged_words):
            return False
        return (tagged_words[index+1][1] == 'CC' and pro_index == index + 2) or \
               (tagged_words[index+2][1] == 'CC' and pro_index == index + 3)

    return coref(A_index), coref(B_index)

def exist_CC_pronoun(row):
    return sum(CC_pronoun(row)) == 1

In [73]:
print_sents(datas={'manual':True, 'data':apply_model(train_data, [exist_CC_pronoun], CC_pronoun)}, num_lines = 10)

23 0.8695652173913043
development-1622 She's a mum first and foremost and she's got her identity from being a mum. (...) She's a quiet person. (...) She's strong and she's way classier than I'll ever be!'' Gabby is also portrayed as being ``quiet''. In the same interview, Oruche noted the differences between Gabby and her character Liberty Baker in Footballers Wives.

development-1321 However, Archie Mitchell uses Suzy to plant DNA results in a Christmas cracker, showing that Sean Slater is not the father of Roxy's baby. Suzy leaves before Sean finds the results. Phil discovers that *10,000 is missing and blames Suzy so he and Shirley go to find her. In the Queen Victoria, Shirley trips Suzy and she is knocked out.

development-757 Immediately after Blackwood's penalty, wide receiver Charlie Brown's 26-yard reception advanced the Redskins to the Dolphins 16-yard line. After calling their final timeout with 14 seconds left, Washington made one last attempt to score a touchdown before trying a field goal. Theismann's subsequent pass was caught by Garrett, but he was tackled at the 9-yard line by defensive back Glenn Blackwood, preventing any possible field goal attempt as the Redskins were unable to stop the clock before time expired in the half.

development-1977 ``Don't Cry Your Heart Out'' was radio-friendly pop, but songs such as ``Diamonds'' and ``No Regrets'' were arranged in a style reminiscent of musicals. Some reviews wondered about the song selections, but Deasismont's voice was praised nevertheless. The selected songs were alleged by some to be unsuitable for Amy and her audience, but on the other hand her potential was appreciated.

development-695 They moved to Go**bki near Warsaw with their three children: Tadeusz (14), Krystyna (13) and Maria (9), and rented a farm called Osada not far from where Irena's parents lived. Soon they began to take in Jews who escaped from Nazi persecution. Among them: Krystyna Izbicki, Anna Zofia and her son Jozef Ettinger, Krystyna Radziejewski and her foster-daughter Larissa Sztorchan, Czeslawa Konko (children's instructor), Zofia Sidor, her sisters, Eliza Temler and Dr.

development-1982 The Season Nine DVD contains a number of deleted scenes from this episode. Notable cut scenes include: more scenes from the Q&A panel; Pete discussing what he learned working at Dunder Mifflin; Angela's sister, Phyllis, and Andy giving toasts at the wedding; more scenes with Erin and her biological parents in which they reconnect; further shots of the office members reminiscing about shared memories; and the office taking one of the potted plants outside and planting it in actual soil.

development-1213 Truth or Dare by Madonna is a lifestyle brand by American recording artist Madonna. It is the second enterprise from MG Icon LLC, a joint venture between Madonna, her manager Guy Oseary and Iconix Brand Group. This is the second brand from the venture after Material Girl, which is a fashion line designed by Madonna and her daughter Lourdes and launched in 2010.

development-536 The orchestra moved on to the Mound Club in St. Louis, Missouri where he signed with William Foor-Robinson Orchestra Corporation of America. The Tal Henry orchestra went on to Harrisburg, Pennsylvania. Ed Fishman introduced Bob Hope and George Burns to Tal Henry and His North Carolinians and booked them into the Stanley in Pittsburgh.

development-292 A woman comes to Mel's shop to sell antiques from a house she's moving from after the death of her daughter (from an illness). Melinda very quickly discovers that the house is haunted by violent spirits after Ned gets hurt there-which doesn't go down well with Delia- and she realizes that the ghost of the little girl (Cassidy) is being trapped there.

development-326 Her 2008 re-election was closer, with Boseman taking 51.7% of the vote and winning by a margin of about 3,000. In the 2008 presidential primaries, Boseman was an active supporter of Hillary Clinton. The North Carolina primary, coming late in the process, was unusually high-profile and Boseman travelled the state campaigning with Clinton and her husband, former President Bill Clinton.

In [71]:
train_data.iloc[478]['Text']

"Sarah Wadsworth (17 Mar 1649 - ) m. Jonathan Ashley Thomas Wadsworth (1651 -- Sep 1687) m. Elizabeth Rebecca Wadsworth (1653 - ) Some of William Wadsworth's Notable Descendants The following persons are the descendants of William's sons Hon. John Wadsworth or his half brother Capt. Joseph Wadsworth of Charter Oak fame."

2. Located in the beggining of a sentence.

In [48]:
def begin_sentence(row):

    token_dict = tokenized_index(row)
    tagged_sents = token_dict['tagged_sents']

    Subjects = []

    def first_NP(sent):

        first_np = ""
        index=0
        while sent[index][1].startswith('NN') or sent[index][1].startswith('W') or sent[index][1] in ["'s", 'DT', 'IN', 'CD']:
            while sent[index][1].startswith('NNP'):
                first_np += sent[index][0] + " "
                if index < len(sent) - 1:
                    index += 1
                else:
                    break

            if len(first_np) > 0:
                Subjects.append(first_np)

            if index < len(sent) - 1:
                index += 1
            else:
                break

    def tagged_split(tagged_sent):
        splitted = []
        index = 0
        
        while(index < len(tagged_sent)):
            try:
                new_index = tagged_sent[index:].index((',',','))
                splitted.append(tagged_sent[index:index+new_index])
                index += new_index+1
            except:
                splitted.append(tagged_sent[index:])
                return splitted

    for sent in tagged_sents:
        for sub_sent in tagged_split(sent):
        
            first_np = first_NP(sub_sent)

    def exist(word):
        for first_word in Subjects:
            if word in first_word:
                return True
            elif first_word in word:
                return True
        return False

    return (exist(row['A']), exist(row['B']))

def begin_sentence_word(row):
    return sum(begin_sentence(row)) == 1

In [49]:
def most_occurance(row):

    token_dict = tokenized_index(row)
    tagged_words = token_dict['tagged_words']

    index=0
    NPs = []
    NP_dict = {}

    while index < len(tagged_words):
        np = ""
        while index < len(tagged_words) and tagged_words[index][1].startswith('NNP'):
            np += tagged_words[index][0] + " "
            index += 1
        
        if len(np) > 0:
            NPs.append(np[:-1])

        index += 1

    def occurance(word):
        occ = 0
        for w in NPs:
            if w in word:
                occ += 1

        return occ

    for word in set(NPs):
        NP_dict[word] = occurance(word)

    max_occ = sorted(NP_dict.items(), key = (lambda x: x[1]), reverse=True)[0]

    if max_occ[1] > 1:
        return [NP for NP in NP_dict if NP_dict[NP] == max_occ[1]]
    else:
        return None

def more_occurance(row):

    most_occs = most_occurance(row)

    if most_occs == None:
        return (True, True)

    def exist(word, words):
        for w in words:
            if word in w or w in word:
                return True
        return False

    return (exist(row['A'], most_occs), exist(row['B'], most_occs))

def only_most_occurance(row):
    return sum(more_occurance(row)) == 1

def none_most_occurance(row):
    return sum(more_occurance(row)) == 0

def both_most_occurance(row):
    return more_occurance(row) == (True, True)

In [50]:
overall_analysis(train_data, [none_subject, only_most_occurance], [more_occurance])

100%|██████████| 10/10 [00:45<00:00,  4.53s/it]

   Pronoun  Length  Accuracy0
0       He      20   0.700000
1      She      16   0.562500
2      His       4   0.750000
3      Her       9   0.555556
4       he      26   0.653846
5      she      34   0.441176
6      his      59   0.576271
7      him       9   0.555556
8      her      92   0.597826
9     hers       0   0.000000
10   total     269   0.583643

In [51]:
none_occurance_data = none_subject_data[none_subject_data.apply(none_most_occurance, axis=1)]

In [52]:
both_occurance_data = none_subject_data[none_subject_data.apply(both_most_occurance, axis=1)]

In [53]:
print(len(none_occurance_data))
print(len(both_occurance_data))

200
170

In [54]:
print_sents(datas={'manual':True, 'data':both_occurance_data[both_occurance_data.apply(lambda row: row['Pronoun'] in ['He','She','His','Her'], axis=1)]}, num_lines = 10)

development-839 Rino Kawashima (PC), Kei Mizusawa (Drama CD/PSP/anime) Machi is a female teacher who teaches Japanese at Yuihime Girls' Academy. She is the homeroom teacher of Shingo's class, 2-T; Airi, Angelina, Sana and Hayata are also in the same class. She is shy and is not good at talking with young men, but she actually likes boys' love.

development-1068 She agrees, and as she's crossing the street to return home, a car barrels down the road towards her. Gideon stops the impending accident and allows Abbie to cross the street without incident. The next day, the Graingers visit Jack's grandfather, Caleb. He gives the children presents:

development-1849 Kenney-Silver was born Kerri Kenney in Westport, Connecticut, the daughter of Sharon (McGaughey) and Larry Kenney, an actor who is known for his classic voice-over work. She has a sister, Ashley, and a brother, Tanner.

development-728 And often (what) adds a tremendous amount of comedy is the choosing to look over there and see what that person thinks and back and forth. He's definitely a hidden character on the show.'' In an April 2007 blog post for TV Guide, actress Kate Flannery, who plays Meredith Palmer, called Jim's impression of Dwight ``one of the funniest scenes that I have ever witnessed.'' She recalled that Krasinski and Wilson enjoyed filming the scene, and that the whole cast was laughing during it, necessitating many takes.

development-1733 He wrote that ``I never knew a child who had so much influence on adults. Her inner personality was very strong, and she had a natural quality that protected her from being spoiled.'' In October 1901, after the death of Queen Victoria, Elisabeth's parents finally divorced. Her mother had rekindled a previous romance with another cousin, her future husband, Grand Duke Cyril Vladimirovich of Russia.

development-134 Alexander Windsor, Earl of Ulster, born 24 October 1974. He married Claire Booth on 22 June 2002. The couple have two children: Xan Richard Anders Windsor, Lord Culloden (born 12 March 2007) Lady Cosima Rose Alexandra Windsor (born 20 May 2010) Lady Davina Lewis, born 19 November 1977. She married Gary Lewis on 31 July 2004.

development-565 Her most notable work includes featured vocals for Robin Schulz's ``Headlights'' and ``Disarm You'' for Kaskade, both of which she also co-wrote. Additionally, Juber co-wrote ``All Night'' by Beyonc*, as well as the 2015 single ``Powerful'' by Major Lazer featuring Ellie Goulding. She is presently signed to Sony ATV publishing.

development-1986 Her personal best for long jump is 6.55 m set in Bangalore on 5 June 2010 during the second Indian Grand Prix. She became only the fourth Indian woman to cross 6.50 m, joining Anju Bobby George (6.83 m), J.J. Shobha (6.66 m), and Pramila Aiyappa. She won the gold medal for her effort.

development-365 K38 Water Safety has been instrumental in setting the standards for these small boats for lifesaving and rescue use working closely with boating safety associations and government agencies. Jon Lee Anderson, a writer for the New Yorker Magazine, rode along with Alladio on her Waverunner the week following the flooding in New Orleans after Hurricane Katrina. He wrote a story called 'Leaving Desire --

development-1683 She later played in The Little Princess, with Millie James, Lover's Lane on Broadway, with Mary Ryan and had a two-year run with Edwin Arden in Home Folks. She next appeared with Harry Brodribb Irving in Paola and Francesca and Midsummer Night's Dream and in vaudeville with Robert Hilliard and William Harcourt as the boy, in Polly of the Circus. She became the ingenue of the Edison Company at the age of 22, and in her short time before the camera made an enviable record for vivacious and appealing comedy.

In [55]:
overall_analysis(train_data, [none_subject, both_most_occurance], [former_word, latter_word, closer_word, farther_word, lambda row: (False, False)])

100%|██████████| 10/10 [00:32<00:00,  3.26s/it]

   Pronoun  Length  Accuracy0  Accuracy1  Accuracy2  Accuracy3  Accuracy4
0       He       9   0.555556   0.444444   0.444444   0.555556   0.000000
1      She      21   0.428571   0.142857   0.142857   0.428571   0.428571
2      His       2   0.500000   0.000000   0.000000   0.500000   0.500000
3      Her       3   0.000000   1.000000   1.000000   0.000000   0.000000
4       he      23   0.478261   0.217391   0.260870   0.434783   0.304348
5      she      20   0.400000   0.400000   0.350000   0.450000   0.200000
6      his      39   0.128205   0.615385   0.564103   0.179487   0.256410
7      him       3   0.000000   0.666667   0.666667   0.000000   0.333333
8      her      50   0.280000   0.560000   0.560000   0.280000   0.160000
9     hers       0   0.000000   0.000000   0.000000   0.000000   0.000000
10   total     170   0.311765   0.452941   0.441176   0.323529   0.235294

In [74]:
print_sents(datas={'manual':True, 'data':none_occurance_data}, num_lines = 10)

development-542 Noteworthy projects that JESS3 has undertaken with Thomas's leadership include the NASA website ``Buzzroom'' that tracks NASA-related tweets, videos and images, the C-SPAN Video Library, which was awarded a Peabody Award in March 2011, and the design of The Conversation Prism, an infographic poster produced in partnership with Brian Solis. In 2010, he was approached by Facebook to develop the Facebook Stories application.

development-1507 Frederick Magnus (13 January 1672 -- 24 February 1672) Frederica Augusta (21 June 1673 -- 24 July 1674) Christina Sophia (17 December 1674 -- 22 January 1676) Klaudia Magdalene Elisabeth (15 November 1675 -- 18 April 1676) Catherine (10 October 1677 -- 11 August 1746), in 1701 she married Count Johann Friedrich von Leiningen-Hartenburg Charles III William, Margrave of Baden-Durlach (17 January 1679 -- 12 May 1738), he married Magdalena Wilhelmine of W*rttemberg Johanna Elisabeth (3 October 1680 -- 2 July 1757), in 1697 she married Eberhard Louis, Duke of W*rttemberg Albertine Frederica (3 July 1682 -- 22 December 1755), in 1704 she married Christian August of Holstein-Gottorp, Prince of Eutin Christopher (9 October 1684 -- 2 May 1723), he married Marie Christine Felizitas zu Leiningen-Dagsburg-Falkenburg-Heidesheim Charlotte Sophia (1 March 1686 -- 5 October 1689) Marie Anna (9 July 1688 -- 8 March 1689)

development-963 She played multiple prominent roles in the gothic soap opera Dark Shadows (1966--71), and appeared on One Life to Live (1982--83). In 2006, a biography of her life was released titled Grayson Hall: A Hard Act to Follow. Hall was born Shirley Grossman in Philadelphia, Pennsylvania in 1922, the only child of Eleanor and Joseph Grossman. Her father was from Latvia and her mother, who had acted in the Yiddish theatre, was from South Africa.

development-451 In the mid-1930s, Daisy Clover is a teenage tomboy, living in a ramshackle trailer on a California beach with her eccentric mother Lucile. She dreams about becoming a Hollywood actress and submits a recorded song to a well-known film producer, Raymond Swan. Swan puts her under contract for five years. Raymond's wife, Melora, counsels Daisy, forcing her to deal with her job and life.

development-1438 According to Richard Pankhurst, Adwa derives its name from Adi Awa (or Wa), ``Village of the Awa''; the Awa are an ethnic group mentioned in the anonymous Monumentum Adulitanum that once stood at Adulis. Francisco Alvares records that the Portuguese diplomatic mission passed Adwa, which he called ``Houses of St. Michael,'' in August 1520.

development-1538 In order to give the dragons Odjn, Dover, and Chetyre their own distinct identity, they were made to speak Russian during cutscenes and were named after the Russian numbers one (****, adeen), two (***, dva), and four (******, chyetirye), respectively. Unlike the protagonists of previous Breath of Fire games, each also named Ryu, the Ryu in this game is a normal human being characterized by Yoshikawa as ``an average person like you might find anywhere'' with his only extraordinary ability being his strong will and sense of justice.

development-1148 Judah Rosenthal (Martin Landau), a successful ophthalmologist, and Clifford Stern (Woody Allen), a small-time documentary filmmaker. Judah, a respectable family man, is having an affair with flight attendant Dolores Paley (Anjelica Huston). After it becomes clear to her that Judah will not end his marriage, Dolores threatens to disclose the affair to Judah's wife, Miriam (Claire Bloom).

development-450 Wade asks Daisy to marry him and the ceremony is held on the Swans' estate. On the first night of their honeymoon in Arizona, he drives off and leaves her. When she returns to Raymond's house, an extremely intoxicated Melora reveals to Daisy that she had an affair with the closet homosexual Wade.

development-46 The feature-length documentary traced the journey of the song, Hava Nagila, from the Ukraine to YouTube. Released theatrically and screened at 80 Jewish film festivals, Hava Nagila:The Movie was either opening or closing night at more than half of those festivals. Director Dyanna Taylor's film about her grandmother, the photographer Dorothea Lange, Grab a Hunk of Lightning, aired on PBS's ``American Masters'' in 2014 and was produced by Grossman.

development-245 Before Fanny knew Sasha was back, she hired a professional dancer from San Francisco, CA, ``The Ringer,'' to play ``Clara.'' This creates hostility between the two lead dancers. Michelle helps Ginny, Melanie, and Boo make up from their argument. Boo is still pining for Carl, and Sasha meets a boy from the basketball team when she was a cheerleader.

In [58]:
overall_analysis(train_data, [none_subject, none_most_occurance], [former_word, latter_word, closer_word, farther_word, lambda row: (False, False)])

100%|██████████| 10/10 [00:30<00:00,  3.07s/it]

   Pronoun  Length  Accuracy0  Accuracy1  Accuracy2  Accuracy3  Accuracy4
0       He      12   0.333333   0.250000   0.250000   0.333333   0.416667
1      She      13   0.461538   0.230769   0.153846   0.538462   0.307692
2      His       5   0.600000   0.000000   0.000000   0.600000   0.400000
3      Her       7   0.285714   0.142857   0.142857   0.285714   0.571429
4       he      29   0.379310   0.379310   0.379310   0.379310   0.241379
5      she      23   0.391304   0.304348   0.260870   0.434783   0.304348
6      his      50   0.260000   0.340000   0.420000   0.180000   0.400000
7      him       6   0.166667   0.500000   0.500000   0.166667   0.333333
8      her      55   0.418182   0.345455   0.345455   0.418182   0.236364
9     hers       0   0.000000   0.000000   0.000000   0.000000   0.000000
10   total     200   0.360000   0.320000   0.330000   0.350000   0.320000

In [59]:
rest = apply_model(train_data, [none_subject, none_most_occurance], begin_sentence)

200 0.35

In [61]:
overall_analysis(train_data, [], [subject])

100%|██████████| 10/10 [03:32<00:00, 21.21s/it]

   Pronoun  Length  Accuracy0
0       He     138   0.782609
1      She     179   0.765363
2      His      33   0.757576
3      Her      38   0.578947
4       he     235   0.689362
5      she     249   0.654618
6      his     496   0.699597
7      him      98   0.571429
8      her     534   0.602996
9     hers       0   0.000000
10   total    2000   0.671000

In [62]:
overall_analysis(test_data, [], [subject])

100%|██████████| 10/10 [02:31<00:00, 15.12s/it]

   Pronoun  Length  Accuracy0
0       He     127   0.842520
1      She     159   0.691824
2      His      28   0.642857
3      Her      37   0.675676
4       he     221   0.674208
5      she     237   0.687764
6      his     528   0.662879
7      him      96   0.468750
8      her     566   0.597173
9     hers       1   0.000000
10   total    2000   0.652500

In [63]:
subject_data = apply_model(test_data, [], subject)

2000 0.6525

In [68]:
result = open("subject_word.tsv", 'w')

for row in subject_data.iloc:

    result.write("\t".join([row['ID'], str(row['A-pred']), str(row['B-pred'])]) + "\n")

result.close()

In [69]:
!python gap_scorer.py --gold_ts=gap-test.tsv --system_tsv=subject_word.tsv

gap_scorer.py:126: DeprecationWarning: 'U' mode is deprecated
  with open(filename, 'rU') as f:
Overall recall: 72.0 precision: 66.5 f1: 69.2
		tp 1277	fp 642
		fn 496	tn 1585
Masculine recall: 73.3 precision: 68.6 f1: 70.9
		tp 652	fp 299
		fn 237	tn 812
Feminine recall: 70.7 precision: 64.6 f1: 67.5
		tp 625	fp 343
		fn 259	tn 773
Bias (F/M): 0.95