In [1]:
from helper import *
from funcs import *

In [2]:
import pandas as pd 

train_data = pd.read_csv('gap-development.tsv', sep='\t')
test_data  = pd.read_csv('gap-test.tsv', sep='\t')

**tf.tsv**

always predict A-coref as True and B-coref as False

In [3]:
f_test = open("gap-test.tsv", "r")
result = open("tf.tsv", 'w')
test_data = f_test.readlines()

for line in test_data[1:]:
    attrs = line.split('\t')
    result.write("\t".join([attrs[0]] + ['True', 'False']) + "\n")

f_test.close()
result.close()

In [4]:
!python gap_scorer.py --gold_ts=gap-test.tsv --system_tsv=tf.tsv

Overall recall: 51.8 precision: 45.9 f1: 48.7
		tp 918	fp 1082
		fn 855	tn 1145
Masculine recall: 51.0 precision: 45.3 f1: 48.0
		tp 453	fp 547
		fn 436	tn 564
Feminine recall: 52.6 precision: 46.5 f1: 49.4
		tp 465	fp 535
		fn 419	tn 581
Bias (F/M): 1.03

gap_scorer.py:126: DeprecationWarning: 'U' mode is deprecated
  with open(filename, 'rU') as f:

**closer.tsv**

Predict closer coreference to pronoun as True

In [5]:
f_test = open("gap-test.tsv", "r")
result = open("closer.tsv", 'w')
test_data = f_test.readlines()

for line in test_data[1:]:
    attrs = line.split('\t')
    tf = ['True', 'False']
    if abs(int(attrs[3]) - int(attrs[5])) > abs(int(attrs[3]) - int(attrs[8])):
        tf = ['False', 'True']

    result.write("\t".join([attrs[0]] + tf) + "\n")

f_test.close()
result.close()

In [6]:
!python gap_scorer.py --gold_ts=gap-test.tsv --system_tsv=closer.tsv

Overall recall: 50.1 precision: 44.4 f1: 47.1
		tp 888	fp 1112
		fn 885	tn 1115
Masculine recall: 51.6 precision: 45.9 f1: 48.6
		tp 459	fp 541
		fn 430	tn 570
Feminine recall: 48.5 precision: 42.9 f1: 45.5
		tp 429	fp 571
		fn 455	tn 545
Bias (F/M): 0.94

gap_scorer.py:126: DeprecationWarning: 'U' mode is deprecated
  with open(filename, 'rU') as f:

In [20]:
print_sents(random=True)

development-1590 Hughes captained England for every one of Mercer's seven games in charge, and initially maintained the role when Don Revie was appointed as Ramsey's permanent successor. However, after the first two qualifiers for the 1976 European Championships, Revie decided to drop Hughes from the team. He gave the captaincy to his former Blackpool team-mate Alan Ball, and Hughes appeared only twice for England in 1975.

development-524 The late 1950s to mid-1970s is viewed as the ``golden age'' for New Zealand in the sport and saw Denny Hulme crowned as World Drivers' Championship in 1967. New Zealand drivers have been absent from Formula One events from 1984 with Mike Thackwell to 2017 when Brendon Hartley is expected to make his F1 debut in the 2017 United States Grand Prix.

development-502 He served as flag officer (ashore), Orkney Islands and Shetland Islands, Scotland, and was made Admiral in 1942. He then served as flag officer-in-charge, in Cardiff before retiring from the navy in 1945. Following his retirement from the navy, Hugh Binney was chosen to replace Ernest Clark as Governor of Tasmania, a post he took up on 24 December 1945.

development-894 Maya confesses her love to Yash, but Yash refutes her advances, as he does not want her to become his weakness in his professional life. However, Swati (Sandhya Mridul), the wife of Yash's coworker and good friend, convinces Yash that he is in love with Maya as well and Yash decides to get married to her.

development-1169 Both men denied taking the badge. When Jude and the others stayed inside Antonessen's truck, the mob threatened them, saying ``Nigger, we can kill you.'' During this confrontation, Ryan Packard took Jude to the ground, where other off-duty officers held him down and searched him for the badge.

development-1352 In The New York Times, Michiko Kakutani characterized Prozac Nation as ``by turns wrenching and comical, self-indulgent and self-aware,'' comparing it with the ``raw candor of Joan Didion's essays, the irritating emotional exhibitionism of Sylvia Plath's The Bell Jar and the wry, dark humor of a Bob Dylan song.'' While praising Wurtzel's prose style as ``sparkling'' and ``luminescent,'' Kakutani thought the memoir ``would have benefited enormously from some strict editing'' and said that its ``self-pitying passages make the reader want to shake the author, and remind her that there are far worse fates than growing up during the '70s in New York and going to Harvard.''

development-1659 Nina began to displace all her aggression toward her father's former wife. Even after Donna exonerated Daisy for Zach's murder, Nina could not waive her intense feelings of hate towards her. At Donna's wedding to Benny Sago, Nina came with a gun. She tried to shoot Donna, but luckily missed.

development-1792 In France it was not until the Third Republic that an actual women's movement arose, a radical section of which, ``La Fronde'' (paraphrasing an older aristocratic-royal civil war), took part in the first revolution. From the start the Social-Democratic party incorporated in its programme the ``equality of all rights''. Consequently, the Social-Democratic women regarded themselves as forming one body with the men of their party, while they kept contemptuously separated from the radical movement among the middle-class women. August Bebel's book ``Die Frau und der Sozialismus'' went through fifty editions in 1879-1910, and was translated into fourteen languages. In this work the position of woman in the Socialistic state of the future is described. In general the radical middle-class emancipation agrees with the Social-Democratic both in the political and in the ethical spheres. A proof of this is furnished by the works of the Swedish writer Ellen Key, especially by her book ``*ber Ehe und Liebe'' 'On marriage and love', which enjoy a very large circulation throughout the world.

development-1566 Additionally, they can't move because of the cold. They are surrounded by the enemy, and don't know what to do anymore. Ken, Jinpei and Ryu run to their aid. Through the actions of Ken and the others, the magma mega cannon is destroyed. With the warm friendship of his comrades, Joe has been freed from his pain.

development-638 She was appointed by Richard Nixon but continued serving as Treasurer through Gerald Ford's term in office after Nixon resigned in August 1974. Neff took office at a time when the role of Treasurer was being reorganized. The Treasurer was named National Director of the Savings Bonds Division for the first time during her term.

In [8]:
import pandas as pd

In [9]:
train_data = pd.read_csv('gap-development.tsv', sep='\t')
test_data = pd.read_csv('gap-test.tsv', sep='\t')
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              2000 non-null   object
 1   Text            2000 non-null   object
 2   Pronoun         2000 non-null   object
 3   Pronoun-offset  2000 non-null   int64
 4   A               2000 non-null   object
 5   A-offset        2000 non-null   int64
 6   A-coref         2000 non-null   bool
 7   B               2000 non-null   object
 8   B-offset        2000 non-null   int64
 9   B-coref         2000 non-null   bool
 10  URL             2000 non-null   object
dtypes: bool(2), int64(3), object(6)
memory usage: 144.7+ KB

**subject_pronoun.tsv**

Predict farther coreference pronoun as True when pronoun is subject pronoun (he, she).
Predict closer coreference pronoun as True when pronoun is not subject pronoun, which is object or possessive pronoun(her, his, him).

In [10]:
pronouns = set(train_data['Pronoun'])
pronouns

{'He', 'Her', 'His', 'She', 'he', 'her', 'him', 'his', 'she'}

In [11]:
result = open("subject_pronoun.tsv", 'w')

for attrs in test_data.iloc:
    pro, pro_id = attrs[2:4]
    A, A_id = attrs[4:6]
    B, B_id = attrs[7:9]

    if pro.lower() in ['he', 'she']:
        if abs(pro_id - A_id) > abs(pro_id - B_id):
            tf = ['TRUE', 'FALSE']
        else:
            tf = ['FALSE', 'TRUE']
    else:
        if abs(pro_id - A_id) > abs(pro_id - B_id):
            tf = ['FALSE', 'TRUE']
        else:
            tf = ['TRUE', 'FALSE']

    result.write("\t".join([attrs[0]] + tf) + "\n")

f_test.close()
result.close()

In [12]:
!python gap_scorer.py --gold_ts=gap-test.tsv --system_tsv=subject_pronoun.tsv

Overall recall: 58.3 precision: 51.6 f1: 54.8
		tp 1033	fp 967
		fn 740	tn 1260
Masculine recall: 59.4 precision: 52.8 f1: 55.9
		tp 528	fp 472
		fn 361	tn 639
Feminine recall: 57.1 precision: 50.5 f1: 53.6
		tp 505	fp 495
		fn 379	tn 621
Bias (F/M): 0.96

gap_scorer.py:126: DeprecationWarning: 'U' mode is deprecated
  with open(filename, 'rU') as f:

In [13]:
false_case = 0
for attrs in test_data.iloc:
    if attrs[6] == attrs[9]:
        false_case += 1

false_case/len(test_data)

0.1135

# subject.tsv

draw a relation between two proper nouns with sentence structure

(e.g. Which one is the subject?)

In [14]:
import nltk
sent = "In the next pair, Mikhaylov equalled Grishin's time and they shared Olympic gold."
tagged_sent = nltk.pos_tag(nltk.word_tokenize(sent))

Classify train_data into several categories

1. When words are inside parenthesis
2. When words appear after the pronoun
 * When the pronoun is subject pronoun
 * When the pronoun is object/possessive pronoun
3. When the both coreferences are false
4. When only one word is subject
5. When the both words are subject
6. When none of the words are subject
 * When a word appears multiple times
 * When both word appears same time

In [15]:
import pandas as pd 

train_data = pd.read_csv('gap-development.tsv', sep='\t')
test_data  = pd.read_csv('gap-test.tsv', sep='\t')

## 1. When words are inside parenthesis
Assume when word is inside parenthesis, coreference is always false

In [16]:
def isparenthesis(row):
    sent = row['Text']
    A = row['A']
    A_id = row['A-offset']
    B = row['B']
    B_id = row['B-offset']

    return (not (sent[A_id-1] == "(" and sent[A_id+len(A)] == ")"),
            not (sent[B_id-1] == "(" and sent[B_id+len(B)] == ")"))

def only_parenthesis(row):
    return sum(isparenthesis(row)) == 1

In [22]:
parenthesis_data = train_data[train_data.apply(only_parenthesis, axis=1)]

In [23]:
print_sents(datas={'manual':True, 'data':parenthesis_data}, num_lines = 10)

development-946 The Kit*b al-Hayaw*n (**** *******, English: Book of Animals) is a 9th-century Arabic translation of History of Animals: 1--10, On the Parts of Animals: 11--14, and Generation of Animals: 15--19. The book was mentioned by Al-Kind* (d. 850), and commented on by Avicenna (Ibn S*n*) in his The Book of Healing.

development-1765 During the restaurant's 1980s heyday at the top of the Zagat's survey, it was mentioned in Wall Street (1987) by Gordon's call girl when talking to Bud Fox (Charlie Sheen). Mentioned in Crossing Delancey by Isabelle Grossman (Amy Irving) as the place of her intended birthday dinner.

development-1540 Rinkie is about to get married to Vicky (Sharad Kapoor) but she is unaware of his drug dealings. Raju gives Rajesh eight days to break the news to his family and call Raju his son or he'll tell the family himself. After he leaves, Rajesh gets afraid, and hires gangsters to attack him. On his way out, Raju gets beat up by the hired gangsters, though later rescued by Shera (Sanjay Dutt), also an Indian living in London.

development-1564 Liam (Roberto Aguire) surprises Aria (Lucy Hale) in Rosewood and Aria admits to Liam the truth about Ezra's new book after he reveals to her the writing is too similar to her own. Alison (Sasha Pieterse) explains to Spencer that she and Elliott (Huw Collins) are more than just friends, but they cannot reveal their relationship as it would be deemed ``inappropriate''. Spencer confronts Mona (Janel Parrish), who tells her that she had Yvonne leave her phone on purpose because she wanted Spencer to find the file.

development-1282 Upon the albums release, the song ``Threshold Apprehension'' which Lemhouse also provided backing vocals to, was picked by Rolling Stone magazine as one of the Best 100 Songs of the year. In the fall of 2007, Lemhouse entered school to pursue a degree in Visual Communications (Graphic Design). Upon finishing school he started Lemhouse Design.

development-562 He was named to the NCAA All-Tournament team in 1980, and two first All Star teams in 1981. He began his playing career with the Pittsburgh Penguins who drafted him in the 6th round of the 1979 NHL Entry Draft. Chorney was traded to the Los Angeles Kings for a 6th round choice (Stuart Marston) in the 1985 NHL Entry Draft. After spending a season with the Kings, he was signed by the Washington Capitals but failed to earn a spot on the roster.

development-954 Lance is in a non-committal relationship with a younger teacher named Claire (Alexie Gilmore), who is spending time with a fellow teacher named Mike (Henry Simmons), whose writing class is more successful than Lance's. On nights when Claire cancels their dates and he is alone, Lance bonds with his elderly neighbor Bonnie (Mitzi McCall).

development-146 Rocky intervenes, and after seemingly beating the living daylights out of the supposed thugs (the scene is similar to Jean-Claude Van Damme's introductory action sequence from Hard Target (1993)), introduces himself to Natasha, and proceeds to show himself off as a charming professional with a heart of gold. Somewhat awed, Natasha offers Rocky an invitation for tea later in the evening, which he accepts. When Rocky arrives at her villa later in the evening, he is confronted by several obstacles, Natasha's sister Sweety (Supriya Pilgaonkar), the jealous Tommy and the family's pet dog.

development-1571 And the Lord said to him, ``How can you say, 'I have fulfilled the Law and the Prophets', when it is written in the Law: 'You shall love your neighbor as yourself', and many of your brothers, sons of Abraham, are covered with filth, dying of hunger, and your house is full of many good things, none of which goes out to them?'' And he (Jesus) turned and said to Simon his disciple, who was sitting by him, ``Simon son of John, it is easier for a camel to go through the eye of a needle than for the rich to enter into the Kingdom of Heaven.''(

development-894 Maya confesses her love to Yash, but Yash refutes her advances, as he does not want her to become his weakness in his professional life. However, Swati (Sandhya Mridul), the wife of Yash's coworker and good friend, convinces Yash that he is in love with Maya as well and Yash decides to get married to her.

result : 22 out of 31 sentences are predicted correct --> accuracy : 71%

## 2. When words appear after the pronoun
Assume coreference of words coming after the pronoun is false

In [19]:
after_pronoun = []

for row in train_data.iloc:
    if row['Pronoun-offset'] < row['A-offset'] or row['Pronoun-offset'] < row['B-offset']:
        after_pronoun.append(row)

after_pronoun = pd.DataFrame(after_pronoun, columns=train_data.columns)

In [20]:
after_subject_pronoun = after_pronoun[after_pronoun['Pronoun'].isin(['he', 'she', 'He', 'She'])]
after_other_pronoun = after_pronoun[after_pronoun['Pronoun'].isin(['his', 'her', 'him', 'His', 'Her', 'Him'])]

In [21]:
print_sents(datas={'manual':True, 'data':after_subject_pronoun}, num_lines = 10)

development-1603 Amy arrives at the house looking for Esme to find Frank poring over various books and documents, Evelyn sleeping across the room in a wheelchair. Esme arrives not long after Amy, but is surprised to see her. It seems clear that they have not spoken for quite some time, and Esme is so glad to finally see her daughter again that she begins to weep as she hugs Amy. Once she has recovered, we learn that Esme has been acting as a nurse on a television show, and that Frank had been trying to marry Esme practically since the last time Amy had visited.

development-1926 However, Phil rejects Shirley so she apologises to Heather, who is staying with Minty, but she refuses to forgive her friend. Heather is upset when she hears Minty plans to marry Sam Mitchell (Danniella Westbrook), but offers to help buy a ring. However, when Sam reveals she only agreed to marry Minty in order to shut him up, Minty apologises to Heather, and she says when they married it gave her the confidence to stand up for herself.

development-798 Five-light Apse window for the Cathedral depicts ``The Annunciation'', ``The Visitation'', ``Virgin and Child in Majesty'', ``The Nativity'' and ``The Presentation at the Temple.'' The architect of the Cathedral was Francis Leonard Hodgson Fleming (1875--1950). Fleming had first met Parsons when Fleming worked in the office of Herbert Baker. He was an assistant there and later a partner, Fleming became a good friend of Parsons and gave him several South African commissions.

development-119 Heightened political pressure and illness pushed Gordillo out from public life for about a year, though she did hold on to her post as the PRI secretary general. In early 2005 Gordillo returned to public life and Roberto Madrazo greeted her with open arms. According to PRI rules, Gordillo, as secretary general of the party, should have replaced Madrazo when he stepped down; but, in a surprise move, Mariano Palacios Alcocer took Madrazo's position instead of Gordillo, who publicly broke with Madrazo just few days before Palacios Alcocer's election.

development-840 He was renamed Don Charles to avoid potential confusion with Tony Bennett, and released his biggest seller ``Walk With Me My Angel'' in January 1962. Written by Geoff Goddard, and produced by Meek, the single just made the Top 40 in the UK Singles Chart. Not that he knew it at the time, but lack of further chart activity, would leave Charles with the one-hit wonder tag. He appeared on several teen based television program mes, and released a cover version of Ben E. King 's hit ``The Hermit of Misty Mountain'' in 1962, and the country music influenced novelty ``It's My Way of Loving You'' the same year.

development-188 Attempting to drown his sorrows, Peter visits his local bar, The Drunken Clam, with his guide dog, unaware that the bar is on fire (caused by God trying to impress a woman). Discovering the bartender Horace trapped under debris, Peter saves his life and is proclaimed a hero by local newsman Tom Tucker. When told that he saved Horace from a burning building, Peter replied with disbelief, ``That freakin' place was on fire?!''

development-1581 Jenkins then joined the Reform Party, but Endean was selected as the party's candidate instead. Endean represented the Auckland electorates of Parnell from 1930 to 1938, and then Remuera from 1938 to 1943. When the Reform Party merged with United to form the National Party in 1936, Endean became a National Party member. He was controversial within the National Party and in the party's 50-year history written by Barry Gustafson, it is remarked that in 1938, there was ``some resistance to the National MP'' in the Remuera electorate.

development-1799 Peters sings four songs on the CD accompanying a 2005 children's picture book Dewey Doo-it Helps Owlie Fly Again, the proceeds of which benefit the Christopher Reeve Foundation. Her co-star from Sunday in the Park with George, Mandy Patinkin, also sings on the CD. To support Broadway Barks, the animal adoption charity that she co-founded with Mary Tyler Moore, Peters has written three children's books, illustrated by Liz Murphy.

development-1692 She has also worked in the opera world. She is the director and co-librettist of the 2002 opera Galileo Galilei, music by Philip Glass, commissioned by the Goodman Theatre. In 2007, Zimmerman directed the first of a series of new productions for the Metropolitan Opera. She was engaged to stage a new production of Donizetti 's Lucia di Lammermoor starring Natalie Dessay, which opened the company's 2007-2008 season.

development-933 Vladimir Anatolievich Khodov (Russian: ******** *********** *****; October 9, 1976 -- September 3, 2004) was one of the six leaders of the hostage-takers in the 2004 Beslan school hostage crisis. Vladimir was born by medical nurse Alexandra Samoshkina the Ukrainian town of Berdyansk. His father is unknown When he was three years old, Vladimir's mother married a North Ossetian military engineer, Anatoly Khodov, and moved to Elkhotovo, 40 km from Beslan, where she worked in the maternity ward of a hospital.

In [22]:
def after_pronoun_predict(data):
    A_pred = []
    B_pred = []
    for row in data.iloc:
        A_value = False if row['A-offset'] > row['Pronoun-offset'] else True
        B_value = False if row['B-offset'] > row['Pronoun-offset'] else True

        A_pred.append(A_value)
        B_pred.append(B_value)

    data['A-pred'] = A_pred
    data['B-pred'] = B_pred

In [23]:
after_pronoun_predict(after_subject_pronoun)
after_pronoun_predict(after_other_pronoun)

<ipython-input-22-ceb8dec2fe17>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['A-pred'] = A_pred
<ipython-input-22-ceb8dec2fe17>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['B-pred'] = B_pred

In [24]:
print(accuracy(after_subject_pronoun))
print(accuracy(after_other_pronoun))

0.411214953271028
0.2133676092544987

Result : It doesn't really matter whether a word comes after the pronoun or not

## 3. When the both word coreference is false

Let's find out what they have in common.

In [25]:
false_cases = 0
for row in train_data.iloc:
    if row['A-coref'] == row['B-coref']:
        false_cases += 1

print(false_cases/len(train_data))
print(false_cases)

0.1005
201

There are more than 10 percent of these kind of cases

In [32]:
falses_data = train_data[(train_data['A-coref'] == False) & (train_data['B-coref'] == False)]

In [33]:
print_sents(datas={'manual':True, 'data':falses_data}, num_lines = 10)

development-662 Tom's father, Warwick, turns up and asks his son to lease the family's wine vineyard to a mining company. Maggie tries to stay out of it, but ends up telling Warwick a few home truths. Carlos and Grace each try to help Rob and Colette. Rob meets a surfer on the South Coast and almost has sex with her, before returning home.

development-1642 Elena Blaramberg was born in Orenburg to her Belgian father, a military geodesist Ivan Fyodorovich Blaramberg, who served as a general in the Russian army, and her Greek mother Elena Pavlovna, n*e Mavromikhali. In 1854, her parents moved Elena and her two brothers from Orenburg to Saint Petersburg.

development-245 Before Fanny knew Sasha was back, she hired a professional dancer from San Francisco, CA, ``The Ringer,'' to play ``Clara.'' This creates hostility between the two lead dancers. Michelle helps Ginny, Melanie, and Boo make up from their argument. Boo is still pining for Carl, and Sasha meets a boy from the basketball team when she was a cheerleader.

development-351 After Steve heard a recording of a telephone conversation between Jo and Kirsty where Jo vented her frustrations about Steve's behaviour, the two fell out but soon reconciled. Jo still felt that she had to move out in order to maintain their friendship and moved in with Stuart and Kirsty after Leonard moved out to be with Gina. However Jo felt lonely after Stuart was rude to her and Kirsty neglected her to spend time with Shane.

development-102 Ralph Inzunza was a San Diego City Council District Eight representative elected in February 2001 who resigned in 2005 along with Councilman Michael Zucchet after being involved in a corruption scandal. They were convicted of extortion, wire fraud, and conspiracy to commit wire fraud for taking campaign contributions from a strip club owner and his associates, allegedly in exchange for trying to repeal the city's ``no touch'' laws at strip clubs.

development-1986 Her personal best for long jump is 6.55 m set in Bangalore on 5 June 2010 during the second Indian Grand Prix. She became only the fourth Indian woman to cross 6.50 m, joining Anju Bobby George (6.83 m), J.J. Shobha (6.66 m), and Pramila Aiyappa. She won the gold medal for her effort.

development-1391 Unders*kningar i germanisk mythologi (Investigations into Germanic Mythology) is a two-volume work by Viktor Rydberg, published in 1886 and 1889. Henrik Sch*ck wrote at the turn of the 20th century that he considered Rydberg the ``last --and poetically most gifted --of the mythological school founded by Jacob Grimm and represented by such men as Adalbert Kuhn'' which is ``strongly synthetic'' in its understanding of myth.

development-1273 During King John of England's dispute with Pope Innocent III, Jocelin at first remained with the king, but after the excommunication of John in late 1209, Jocelin went into exile. He returned to England in 1213, and was mentioned in Magna Carta in 1215. Jocelin was one of the bishops that crowned John's son Henry III, and throughout the rest of Jocelin's life was involved in royal administration. He was also active in his diocese, ordering construction on the cathedral at Wells, and issuing rules for his diocesan clergy.

development-916 Judy Pace appeared in film and TV, appearing in the TV show The Young Lawyers and the film Frogs, and Cleavon Little made nightclub performances plus films afterwards: the most famous role he did was as Bart in the Mel Brooks comedy Blazing Saddles. Another person who debuted was Redd Foxx, and he proved that even a veteran night club star up in age can do movies as well, leading him to be considered for the TV Show Sanford and Son.

development-721 Ghurni clay models have won medals and certificates at international exhibitions. Some of the Ghurni artists have studied in art colleges in France and Italy, but theirs is a talent passed down through generations. Kartik Chandra Pal prepared clay models of statues of Mahatma Gandhi and Rabindranath Tagore. Based on his clay models bronze castings were made and have found pride of place in Washington DC and Moscow and were inaugurated by Bill Clinton and Mikhail Gorbachev, respectively.

We can see that there are some patterns in both false sentences

1. There is another pronoun appeared before.
2. when both word is behind the pronoun, and the subject of the sentence is NNP.

1. There is another pronoun appeared before

In [24]:
def prior_pronoun(row):
    token_dict = tokenized_index(row)

    words = token_dict['words']
    word_index = token_dict['word_index']

    male = ['He', 'His', 'Him', 'he', 'his', 'him']
    female = ['She', 'Her', 'she', 'her', 'hers']

    pro_id = word_index[row['Pronoun-offset']]
    A_id = word_index[row['A-offset']]
    B_id = word_index[row['B-offset']]

    if row['Pronoun'] in male:
        for i, word in enumerate(words[:pro_id]):
            if word in male and i < min(A_id, B_id):
                return True
        return False
    elif row['Pronoun'] in female:
        for i, word in enumerate(words[:pro_id]):
            if word in female and i < min(A_id, B_id):
                return True
        return False

    else:
        print("Unexpected pronoun : {}", row['Pronoun'])

In [25]:
prior_pronoun_data = apply_model(train_data, [prior_pronoun], lambda x: (False, False))

1141 0.10429447852760736

In [30]:
def another_subject(row):
    token_dict = tokenized_index(row)

    tagged_sents = token_dict['tagged_sents']
    sents = token_dict['sents']
    word_index = token_dict['word_index']
    sent_index = token_dict['sent_index']

    pro_sent_id = sent_index[word_index[row['Pronoun-offset']]]

    def first_noun(sent):
        for word, tag in sent:
            if tag.startswith('NN') or tag.startswith('PR'):
                return (word, tag)

    word, tag = first_noun(tagged_sents[pro_sent_id])
    if tag.startswith('NNP') and not word in [row['A'].split()[0], row['B'].split()[0]]:
        return True

    return False

In [31]:
def both_latter(row):
    if row['A-offset'] > row['Pronoun-offset'] and row['B-offset'] > row['Pronoun-offset']:
        return True

    return False

mask = train_data.apply(both_latter, axis=1)
both_latter_data = train_data[mask]

In [29]:
another_subject_data = apply_model(train_data, [both_latter, another_subject], lambda x: (False, False))

48 0.5833333333333334

In [33]:
print_sents(datas={'manual':True, 'data':another_subject_data}, num_lines = 5)

development-46 The feature-length documentary traced the journey of the song, Hava Nagila, from the Ukraine to YouTube. Released theatrically and screened at 80 Jewish film festivals, Hava Nagila:The Movie was either opening or closing night at more than half of those festivals. Director Dyanna Taylor's film about her grandmother, the photographer Dorothea Lange, Grab a Hunk of Lightning, aired on PBS's ``American Masters'' in 2014 and was produced by Grossman.

development-1891 We're getting a lot of press for our gay storyline and we like that, but it's nice to think we'll soon see the day when this is no longer a big deal. Meanwhile, on the heels of the announcement of the pending gay storyline in June 2009, Mauceri was replaced as long-running character Carlotta Vega. According to Michael Logan of TV Guide, based on her religious beliefs Mauceri had taken issue with upcoming scenes that would have Carlotta finding a book called How To Tell Your Parents That You're Gay.

development-431 Since EDS had its own stock, there was an inherent conflict of interest between the companies- an EDS employee working in Detroit at a GM plant was not primarily concerned about GM's performance, but about EDS performance, so they had a blank check to throw money at problems, bill GM, and watch their EDS stock go up. Finally, as Lee quotes Perot - ``GM doesn't honor its contracts'' - Smith had said he would not interfere with Perot, but the relationship fractured from the start, with conflicts over promised compensation to EDS executives being rejected by Smith, who also sent auditors to EDS to irritate Perot.

development-142 Learning the news they return home only to find from Roxanne that Claude-Henri has decided to agree with Roxanne's wishes that the painting be left out of the divorce and instead be willed to their children. The rest of the family is incensed at Roxanne and demand she sell the painting. Shortly after Isabel joins her step-mother, Margeeve, Roxanne's mother-in-law Suzanne and their grandchildren take a trip to Euro Disney where Isabel is accosted by Magda's husband.

development-986 Batman is forced to fight his beloved sidekick and cures him back at the Batcave, following Two Face to the casino where he is in fact revealed to be Dent, having suppressed his bad side (* la Dr Jekyll and Mr. Hyde). Once the Dynamic Duo are strapped to a large silver dollar, he unmasks Batman and deduces Robin's true identity, then Two Face invites the Joker, Penguin, Riddler, Mr. Freeze, Egghead, Shame, Clock King and Catwoman to an auction for the highest bidder of Batman's true identity.

## 4. When only one word is subject
Assume that subject word is always true, and other word is always false

In [34]:
subject_data = train_data[train_data['Pronoun'].isin(['he', 'she', 'He', 'She'])]
other_data = train_data[train_data['Pronoun'].isin(['his', 'him', 'her', 'His', 'Him', 'Her'])]
print(len(subject_data))
print(len(other_data))

801
1199

In [12]:
row = test_data.iloc[1716]
print(row['Text'], row['A'], row['B'])

The status of the show itself is unknown as it was originally expected to premiere in late 2008, but production has since been pushed back indefinitely. In 2011, Berkley published Ask-Elizabeth, a self-help book for teenage girls which drew from the workshops she conducted for the Ask-Elizabeth program. Berkley Elizabeth

In [35]:
overall_analysis(train_data, [only_subject], [word_subject, latter_word])

100%|██████████| 9/9 [01:31<00:00, 10.17s/it]

  Pronoun  Length  Accuracy0  Accuracy1
0      He      87   0.885057   0.241379
1     She     115   0.921739   0.208696
2     His      18   0.777778   0.388889
3     Her      19   0.736842   0.210526
4      he     139   0.791367   0.374101
5     she     147   0.768707   0.435374
6     his     306   0.767974   0.535948
7     him      58   0.431034   0.534483
8     her     270   0.648148   0.607407
9   total    1159   0.749784   0.458154

## 5. When both words are subject
Assume that latter word is True, while the other is False

In [36]:
both_subject_data = train_data.apply(both_subject, axis=1)
both_subject_data = train_data[both_subject_data]
len(both_subject_data)

202

In [37]:
print_sents(datas={'manual':True, 'data':both_subject_data}, num_lines = 10)

development-191 In order to get hold of Bobby Z after all, Don Huertero takes a colleague of Tad Gruzsa as hostage and proposes an exchange. Bobby Z knows Don Huertero won't rest until he believes him dead. Being worried sick, he bribes Tad Gruzsa. Now Tad Gruzsa conceives a plan to deceive Don Huertero. He wants to make Don Huertero believe Bobby Z was dead without harming the real Bobby Z. When the exchange is supposed to take place, Tad Gruzsa replaces Bobby Z. In his stead the clueless doppelg*nger Tim Kearney (Paul Walker) crosses the border.

development-1076 Fans were appalled by the commercials that ABC put out calling Budig the ``Real'' Greenlee, as well as the clock counting the days until Rebecca's return, which watermarked the screen during Singh's final month of airing. Singh last aired on All My Children on January 15, 2008. Budig returned the next day. After her exit from All My Children, Singh returned to theatre work and appeared in the one woman play The Euthanasiast -- Liza Lentini's exploration of care-givers and the right to die -- at PS 122 in New York City.

development-907 Gloucestershire Gladiators crashed back into the relegation zone with a defeat against Glamorgan Dragons at Sophia Gardens, succumbing to medium pace bowler David Harrison, who bowled four maiden overs to end with bowling figures of 9-4-16-2. Despite half-centuries from Kabir Ali and Alex Gidman, who looked to give the visitors a comfortable target after moving to 103 for 3, Dean Cosker ripped out three quick wickets, and Gidman was forced to consolidate. He did top score with 62, but Glamorgan were set a rather modest target of 195 to win.

development-833 He used a traditional guitar style to play modern-based compositions in an extended way. And his liner notes were way cool. ' The press garnered by Death Chants was enough to get Fahey his first paying gig--a weeklong engagement at Boston's Odyssey Coffeehouse in the summer of '65.'' In his 1992 article ``Reinventing the Steel'' for Acoustic Guitar, Dale Miller described the liner notes that Fahey began including on his releases as ``hilarious yet profound and somewhat disturbing phony folklorical ramblings that spoofed the pedantic notes on many folk releases of the day.''

development-1359 Porter worked to raise the standards of the US Navy in the position of superintendent of the Naval Academy when it was restored to Annapolis. He initiated reforms in the curriculum to increase professionalism. In the early days of President Grant's administration, Porter was de facto Secretary of the Navy. When his adoptive brother David G. Farragut was advanced from rank of vice-admiral to admiral, Porter took his previous position; likewise, when Farragut retired, Porter became the second man to hold the newly created rank of admiral. He gathered a corps of like-minded officers devoted to naval reform.

development-73 Pinter wrote The Room over two or four days in 1957, depending on the account, at the suggestion of his friend Henry Woolf for his production as part of a postgraduate program in directing at the University of Bristol, Bristol, England. In their published interviews, Pinter and Woolf vary in describing how many days Pinter took to write The Room. According to Billington, in his official biography Harold Pinter, Woolf asked Pinter to write the play in a letter that Pinter received in the autumn of 1956, when he ``was newly married'' to actress Vivien Merchant ``and in the middle of a season at Torquay''; ``(Pinter) replied that he couldn't possibly deliver anything in under six months.

development-838 The principal expresses her concern that more pets will be abandoned at the Nuko Club, and makes sure the club is taking responsibility for the animals. Shingo tells Miu she should go home after school and get some rest because she has been pushing herself for the animals. When he arrives at the club room, Sana informs Shingo that Miu was suddenly called by her part-time job to fill in for someone else.

development-642 After the 1980 elections he became Minister for Communications. In May 1982, he became Minister for Defence, a post he held until the defeat of the Fraser government at the 1983 election. In January 1984 Anthony resigned the leadership of the National Country Party (as the Country Party had been renamed in 1975), and Sinclair succeeded him.

development-1269 Going into the season, manager Rogers Hornsby was optimistic that they would have a better club with more power overall, citing Landrith as one of the new players that could help the 1953 Reds be a success. Hornsby made it clear that veteran Andy Seminick would be the number one catcher on the depth chart for the Reds, but also said that Landrith would get a ``good look'' after witnessing his performance with the Reds at the end of the 1952 season, praising that he liked his ``hustle.''

development-886 In this episode, his character's last name is Peters (later Hale). With Becky going back to work, Jesse becomes ``Mr. Mom'', while also trying to pursue a record deal. Meanwhile, Danny deals with Vicki leaving, and Stephanie accidentally stains D.J's sweater, which she had told her not to wear.

In [38]:
overall_analysis(train_data, [both_subject], [latter_word, former_word, closer_word, farther_word])

100%|██████████| 9/9 [00:35<00:00,  3.94s/it]

  Pronoun  Length  Accuracy0  Accuracy1  Accuracy2  Accuracy3
0      He      10   0.500000   0.400000   0.500000   0.400000
1     She      14   0.571429   0.428571   0.500000   0.500000
2     His       4   0.750000   0.250000   0.750000   0.250000
3     Her       0   0.000000   0.000000   0.000000   0.000000
4      he      18   0.833333   0.055556   0.833333   0.055556
5     she      25   0.640000   0.200000   0.640000   0.200000
6     his      42   0.690476   0.261905   0.690476   0.261905
7     him      22   0.181818   0.681818   0.181818   0.681818
8     her      67   0.597015   0.358209   0.611940   0.343284
9   total     202   0.594059   0.331683   0.594059   0.331683

## 6. When both words are not subject

In [39]:
none_subject_data = train_data.apply(none_subject, axis=1)
none_subject_data = train_data[none_subject_data]
len(none_subject_data)

639

In [40]:
overall_analysis(train_data, [none_subject], [latter_word, former_word, closer_word, farther_word])

100%|██████████| 9/9 [00:34<00:00,  3.86s/it]

  Pronoun  Length  Accuracy0  Accuracy1  Accuracy2  Accuracy3
0      He      41   0.390244   0.463415   0.439024   0.414634
1     She      50   0.280000   0.420000   0.240000   0.460000
2     His      11   0.181818   0.454545   0.181818   0.454545
3     Her      19   0.368421   0.368421   0.368421   0.368421
4      he      78   0.423077   0.371795   0.423077   0.371795
5     she      77   0.337662   0.402597   0.324675   0.415584
6     his     148   0.452703   0.290541   0.506757   0.236486
7     him      18   0.555556   0.222222   0.555556   0.222222
8     her     197   0.502538   0.319797   0.507614   0.314721
9   total     639   0.428795   0.347418   0.441315   0.334898

In [41]:
overall_analysis(train_data, [none_subject, both_latter, another_subject], [lambda x: (False, False)])

100%|██████████| 9/9 [00:41<00:00,  4.60s/it]

  Pronoun  Length  Accuracy0
0      He       0   0.000000
1     She       0   0.000000
2     His       0   0.000000
3     Her       0   0.000000
4      he       2   0.500000
5     she       2   1.000000
6     his      13   0.692308
7     him       0   0.000000
8     her       4   0.750000
9   total      21   0.714286

In [42]:
print_sents(datas={'manual':True, 'data':none_subject_data[none_subject_data.apply(lambda row: row['Pronoun'] in ['He','She','His','Her'], axis=1)]}, num_lines = 10)

development-156 Homer's epics stand at the beginning of the western canon of literature, exerting enormous influence on the history of fiction and literature in general. Alexander the Great (356BC-323BC) was a Greek king of Macedon and the creator of one of the largest empires in ancient history. He was tutored by the philosopher Aristotle and, as ruler, broke the power of Persia, overthrew the Persian king Darius III and conquered the Persian Empire.

development-906 At the Top 24 round as part of Group 1, Jermaine sang ``Steal My Girl'' together with Vanessa Devi, Shanice Hedger and Ruth Matthews as the whole group, and ``Blank Space'' in the solo round, and was sent through to the next round. She sang ``Lay Me Down'' in the Top 16 round and made it through to the finals, singing ``A Sky Full of Stars'' as a group of top 10 finalists and ``Almost Is Never Enough'' in the solo segment of the Identity round.

development-590 Roscoe and his wife had seven sons and three daughters, including William Stanley Roscoe (1782--1843), a poet, Thomas Roscoe (1791--1871), translator from Italian, and Henry (1800--1836), a legal writer who wrote his father's biography. Henry's wife, Maria Roscoe (n*e Fletcher) (1798-1885), was the author of Vittoria Colonna: Her Life and Times, and their son Henry Enfield Roscoe (1833--1915) was a chemist and vice-chancellor of the University of London.

development-610 In the older records, the village is known as Bukovinka and so is named in 1543 when it appeared in the records regarding the sale of the estate in Desky zemsk* (State property records). In 1628, Vald*tejn acquired Bukovina from Karel Kapoun from Svojkov. He also purchased other manors in the surrounding area and together they were later attached to his Hostinn* estate.

development-1427 As part of his breeding and training programs he was part owner (with Harold Syner of Wajima fame) of Alamare Farm in Lexington, Kentucky and joint owner of Meadow Wood Training Center in Ocala, Florida. DiMauro is responsible for mentoring and developing many of the horsemen involved in Thoroughbred racing today. His experience and insight into the sport has earned him much respect among many. He gave Richard Migliore a chance, and Richard ``The Mig,'' was a well-known jockey for many years until his retirement in June 2010, and is still involved in the sport with the New York Racing Association.

development-1306 Like many other religious houses, they profited by the embarrassment of lesser barons and knights, and in 1232 were able to purchase the greater part of the manor of Alvingham from John de Melsa, his father and mother, by paying off their debt of 871*2 marks to certain Jews. Their claim to two parts of the church of St. Andrew, Market Stainton, involved them in a struggle with Robert Grosteste, bishop of Lincoln, in the reign of Henry III. He revoked the appropriation made by his predecessor, but in 1245 the priory's appeal to Pope Innocent IV was finally successful.

development-536 The orchestra moved on to the Mound Club in St. Louis, Missouri where he signed with William Foor-Robinson Orchestra Corporation of America. The Tal Henry orchestra went on to Harrisburg, Pennsylvania. Ed Fishman introduced Bob Hope and George Burns to Tal Henry and His North Carolinians and booked them into the Stanley in Pittsburgh.

development-779 Not only was it the first scholarly edition of Austen's works, it was also the first scholarly edition of any English novelist. The Chapman text has remained the basis for all subsequent published editions of Austen's works. With the publication in 1939 of Mary Lascelles's Jane Austen and Her Art, the academic study of Austen took hold.

development-1210 All her force, and it is the more tremendous for being constricted, goes into the assertion, 'I love. I hate. I suffer. '''-- Virginia Woolf. The Daily Telegraph's, Lucy Hughes-Hallett argues that Villette is greater than Bront*'s most famous work Jane Eyre. She states that the novel is ``an astonishing piece of writing, a book in which phantasmagorical set pieces alternate with passages of minute psychological exploration, and in which Bront*'s marvellously flexible prose veers between sardonic wit and stream-of-consciousness, in which the syntax bends and flows and threatens to dissolve completely in the heat of madness, drug-induced hallucination and desperate desire.''

development-171 He was born in New York City, studied in Paris, and after returning to the United States worked for Leslie's, Harper's Weekly and similar publications. He also contributed to the humorous weekly magazine Vanity Fair. The Mark Twain book A Tramp Abroad contains more than 20 pictures by Day. He married Maria Theresa Miller around 1859, who died in 1875.

1. when two words are close to each other, referred words are more likely to be coreferred word.

 * {True word} (,?) and {Pronoun}

In [43]:
def CC_pronoun(row):
    token_dict = tokenized_index(row)

    tagged_words = token_dict['tagged_words']
    word_index = token_dict['word_index']

    pro_index = word_index[row['Pronoun-offset']]
    A_index = word_index[row['A-offset']]
    B_index = word_index[row['B-offset']]

    def coref(index):
        if index+5 >= len(tagged_words):
            return False
        return (tagged_words[index+1][1] == 'CC' and pro_index == index + 2) or \
               (tagged_words[index+2][1] == 'CC' and pro_index == index + 3)

    return coref(A_index), coref(B_index)

def exist_CC_pronoun(row):
    return sum(CC_pronoun(row)) == 1

In [44]:
apply_model(train_data, [none_subject, exist_CC_pronoun], CC_pronoun)

15 0.9333333333333333

,ID,Text,Pronoun,Pronoun-offset,A,A-offset,A-coref,B,B-offset,B-coref,URL,A-pred,B-pred
478,development-479,Sarah Wadsworth (17 Mar 1649 - ) m. Jonathan A...,his,260,William,222,False,John Wadsworth,242,True,http://en.wikipedia.org/wiki/William_Wadsworth...,False,True
535,development-536,The orchestra moved on to the Mound Club in St...,His,267,George Burns,237,False,Tal Henry,253,True,http://en.wikipedia.org/wiki/Tal_Henry,False,True
607,development-608,Little Fish is a 2005 Australian film directed...,her,276,Liz Watts,222,False,Cate Blanchett,257,True,http://en.wikipedia.org/wiki/Little_Fish_(film),False,True
633,development-634,The royalties from the performances of the wor...,his,310,Frankie Laine,277,False,Paul Weston,296,True,http://en.wikipedia.org/wiki/Jalousie_'Tango_T...,False,True
694,development-695,They moved to Go**bki near Warsaw with their t...,her,289,Krystyna Izbicki,256,False,Anna Zofia,274,True,http://en.wikipedia.org/wiki/Jerzy_and_Irena_K...,False,True
756,development-757,"Immediately after Blackwood's penalty, wide re...",he,332,Theismann,277,False,Garrett,319,True,http://en.wikipedia.org/wiki/Super_Bowl_XVII,False,True
778,development-779,Not only was it the first scholarly edition of...,Her,290,Mary Lascelles,257,True,Jane Austen,274,False,http://en.wikipedia.org/wiki/Jane_Austen,False,True
1212,development-1213,Truth or Dare by Madonna is a lifestyle brand ...,her,321,Material Girl,258,False,Madonna,309,True,http://en.wikipedia.org/wiki/Truth_or_Dare_by_...,False,True
1320,development-1321,"However, Archie Mitchell uses Suzy to plant DN...",she,317,Queen Victoria,278,False,Suzy,308,True,http://en.wikipedia.org/wiki/Suzy_Branning,False,True
1468,development-1469,"He declared that if James were dead, he would ...",his,313,James,232,False,Brokesby,300,True,http://en.wikipedia.org/wiki/Francis_Brokesby,False,True
1511,development-1512,"He is a well known expert, consultant and auth...",his,593,Rodolfo de Anda,506,False,Antonio Aguilar,573,True,http://en.wikipedia.org/wiki/Million_Dollar_Th...,False,True
1873,development-1874,"The novel is set in Bath, Somerset and centres...",her,225,Abigail Wendover,76,False,Stacey,213,True,http://en.wikipedia.org/wiki/Black_Sheep_(novel),False,True
1902,development-1903,William A. Tudor (born 1964) and ex- wife Moni...,her,310,Michelle H. Jennings,167,False,Holly Hathorn,292,True,http://en.wikipedia.org/wiki/Buddy_Tudor,False,True
1976,development-1977,``Don't Cry Your Heart Out'' was radio-friendl...,her,320,Deasismont,206,False,Amy,312,True,http://en.wikipedia.org/wiki/Amy_Deasismont,False,True
1981,development-1982,The Season Nine DVD contains a number of delet...,her,285,Phyllis,211,False,Erin,276,True,http://en.wikipedia.org/wiki/Finale_(The_Office),False,True

2. Located in the beggining of a sentence.

In [45]:
def begin_sentence(row):

    token_dict = tokenized_index(row)
    tagged_sents = token_dict['tagged_sents']

    Subjects = []

    def first_NP(sent):

        first_np = ""
        index=0
        while sent[index][1].startswith('NN') or sent[index][1].startswith('W') or sent[index][1] in ["'s", 'DT', 'IN', 'CD']:
            while sent[index][1].startswith('NNP'):
                first_np += sent[index][0] + " "
                if index < len(sent) - 1:
                    index += 1
                else:
                    break

            if len(first_np) > 0:
                Subjects.append(first_np)

            if index < len(sent) - 1:
                index += 1
            else:
                break

    def tagged_split(tagged_sent):
        splitted = []
        index = 0
        
        while(index < len(tagged_sent)):
            try:
                new_index = tagged_sent[index:].index((',',','))
                splitted.append(tagged_sent[index:index+new_index])
                index += new_index+1
            except:
                splitted.append(tagged_sent[index:])
                return splitted

    for sent in tagged_sents:
        for sub_sent in tagged_split(sent):
        
            first_np = first_NP(sub_sent)

    def exist(word):
        for first_word in Subjects:
            if word in first_word:
                return True
            elif first_word in word:
                return True
        return False

    return (exist(row['A']), exist(row['B']))

def begin_sentence_word(row):
    return sum(begin_sentence(row)) == 1

In [64]:
def most_occurance(row):

    token_dict = tokenized_index(row)
    tagged_words = token_dict['tagged_words']

    index=0
    NPs = []
    NP_dict = {}

    while index < len(tagged_words):
        np = ""
        while index < len(tagged_words) and tagged_words[index][1].startswith('NNP'):
            np += tagged_words[index][0] + " "
            index += 1
        
        if len(np) > 0:
            NPs.append(np[:-1])

        index += 1

    def occurance(word):
        occ = 0
        for w in NPs:
            if w in word:
                occ += 1

        return occ

    for word in set(NPs):
        NP_dict[word] = occurance(word)

    max_occ = sorted(NP_dict.items(), key = (lambda x: x[1]), reverse=True)[0]

    if max_occ[1] > 1:
        return [NP for NP in NP_dict if NP_dict[NP] == max_occ[1]]
    else:
        return None

def more_occurance(row):

    most_occs = most_occurance(row)

    if most_occs == None:
        return (True, True)

    def exist(word, words):
        for w in words:
            if word in w or w in word:
                return True
        return False

    return (exist(row['A'], most_occs), exist(row['B'], most_occs))

def only_most_occurance(row):
    return sum(more_occurance(row)) == 1

def none_most_occurance(row):
    return sum(more_occurance(row)) == 0

def both_most_occurance(row):
    return more_occurance(row) == (True, True)

In [46]:
overall_analysis(train_data, [none_subject, only_most_occurance], [more_occurance])

100%|██████████| 9/9 [00:22<00:00,  2.51s/it]

  Pronoun  Length  Accuracy0
0      He      20   0.700000
1     She      16   0.562500
2     His       4   0.750000
3     Her       9   0.555556
4      he      26   0.653846
5     she      34   0.441176
6     his      59   0.576271
7     him       9   0.555556
8     her      92   0.597826
9   total     269   0.583643

In [47]:
none_occurance_data = none_subject_data[none_subject_data.apply(none_most_occurance, axis=1)]

In [48]:
both_occurance_data = none_subject_data[none_subject_data.apply(both_most_occurance, axis=1)]

In [49]:
print(len(none_occurance_data))
print(len(both_occurance_data))

200
170

In [103]:
print_sents(datas={'manual':True, 'data':both_occurance_data[both_occurance_data.apply(lambda row: row['Pronoun'] in ['He','She','His','Her'], axis=1)]}, num_lines = 10)

development-1487 New York Times. May 7, 1947. Retrieved 2014-12-02. Mme. Louise Homer, noted contralto, who thrilled Metropolitan Opera audiences as Amneris in 'Aida' and in other famous roles, died here this afternoon of a heart ailment at the age of 76. She had been in ill health since the death of her youngest daughter, Joy, on Oct.

development-962 After Dark Shadows ended in 1971, she had a brief stint as reporter Marge Grey on All My Children (1973). She continued acting on stage as Warda in Jean Genet's The Screens (1971--72) and The Lady in Gray/The Fly in Happy End (1977) which co-starred Meryl Streep and Christopher Lloyd. She appeared in the Broadway premiere of The Suicide (1980) with Derek Jacobi, and appeared opposite Geraldine Page, Carrie Nye and Madeline Sherwood in an off-Broadway revival of The Madwoman of Chaillot.

development-1230 Ang Lalaking Nagmahal Sa Akin by Vanessa, a romance writer from PHR, is the story of Flor who moves from the province to the city to in a hotel. She falls in love with the owner of the hotel, Zephy.

development-35 Kevin John Coyne of Country Universe gave the song a B rating, saying that ``does breakup about as good as anybody'' and that he doesn't believe Keith is ``capable of turning in a weak vocal performance.'' Bobby Peacock of Roughstock gave the song a 3.5/5 rating, saying that the production is ``looser and funkier'' than on Keith's other songs. He goes on to say that it ``contrasts with the more downbeat lyrics of a fairly standard broken-heart song.''

development-160 He was promoted to major on 14 August 1790, and to lieutenant-colonel on 9 December 1793. On 4 July 1785 at Barnes in Surrey, he married Henrietta Anne Hoare, a daughter of Sir Richard Hoare, 1st Baronet of Barn Elms, a partner in the City of London banking firm C. Hoare & Co, and Frances Anne Acland. She survived him and in 1795 remarried to Captain the Hon. Matthew Fortescue (1754--1842), Royal Navy, younger brother of Hugh Fortescue, 1st Earl Fortescue of Castle Hill, Filleigh, Devon.

development-1259 Close starred in Things You Can Tell Just by Looking at Her in the same year, this would be one of many future collaborations with director Rodrigo Garcia. In 2004, she played Claire Wellington, an uptight socialite in the comedy The Stepford Wives opposite Nicole Kidman and Christopher Walken. She provided the voice of the Blue Fairy in the English version of Pinocchio (2002) and Granny in the animated film Hoodwinked (2005).

development-837 Lawrence asks Nefarious for his employ again and the two take the ship, flying off into space. A clear parody of Britney Spears, Courtney Gears (voiced by Melissa Disney in Up Your Arsenal, Nika Futterman in Ratchet: Deadlocked) is a female pop star robot who occasionally gives out prizes on the show, Annihilation Nation. Her music and videos are popular in the Solana Galaxy.

development-529 In 1927, she won a cash prize for her designs, from the Rondith Corporation. Muir focused on designing modern private homes, especially for clients in Malibu, Pacific Palisades, and other affluent Southern California communities. Among her celebrity clients were Shirley Temple, Robert Taylor and Barbara Stanwyck. She earned her architecture license in 1934, and continued at the Byers office until 1942.

development-1066 Alessandro Turchi worked briefly under him. As the most talented member of his father's workshop, he undoubtedly executed many works that are attributed to his father. Works that have been clearly isolated as Carlo's own are more precise and delicate, both technically and in the physical types; they lack Veronese's bravura, whether in the line and wash of a chiaroscuro drawing or in the richly layered pigments that make an embroidered drape. His early signed works show the influence of both his father and the Bassano family by whom he was trained.

development-1986 Her personal best for long jump is 6.55 m set in Bangalore on 5 June 2010 during the second Indian Grand Prix. She became only the fourth Indian woman to cross 6.50 m, joining Anju Bobby George (6.83 m), J.J. Shobha (6.66 m), and Pramila Aiyappa. She won the gold medal for her effort.

In [106]:
overall_analysis(train_data, [none_subject, both_most_occurance], [former_word, latter_word, closer_word, farther_word, lambda row: (False, False)])

100%|██████████| 9/9 [00:18<00:00,  2.10s/it]

  Pronoun  Length  Accuracy0  Accuracy1  Accuracy2  Accuracy3  Accuracy4
0      He       9   0.555556   0.444444   0.444444   0.555556   0.000000
1     She      21   0.428571   0.142857   0.142857   0.428571   0.428571
2     His       2   0.500000   0.000000   0.000000   0.500000   0.500000
3     Her       3   0.000000   1.000000   1.000000   0.000000   0.000000
4      he      23   0.478261   0.217391   0.260870   0.434783   0.304348
5     she      20   0.400000   0.400000   0.350000   0.450000   0.200000
6     his      39   0.128205   0.615385   0.564103   0.179487   0.256410
7     him       3   0.000000   0.666667   0.666667   0.000000   0.333333
8     her      50   0.280000   0.560000   0.560000   0.280000   0.160000
9   total     170   0.311765   0.452941   0.441176   0.323529   0.235294

In [56]:
apply_model(train_data, [none_subject, both_most_occurance, lambda row: row['Pronoun'] in ['Her','his','him','her']], latter_word)

95 0.6

,ID,Text,Pronoun,Pronoun-offset,A,A-offset,A-coref,B,B-offset,B-coref,URL,A-pred,B-pred
3,development-4,The current members of Crime have also perform...,his,321,Hell,174,False,Henry Rosenthal,336,True,http://en.wikipedia.org/wiki/Crime_(band),False,True
6,development-7,Reb Chaim Yaakov's wife is the sister of Rabbi...,his,273,Reb Asher,152,False,Akiva Eiger,253,False,http://en.wikipedia.org/wiki/Asher_Arieli,False,True
10,development-11,William Shatner portraying writer Mark Twain; ...,his,300,Peter Mansbridge,168,False,David Onley,212,True,http://en.wikipedia.org/wiki/Murdoch_Mysteries,False,True
13,development-14,ARTA driver Vitantonio Liuzzi will be replaced...,his,340,Kazuki Nakajima,275,True,Oliver Jarvis,297,False,http://en.wikipedia.org/wiki/2015_Super_GT_Series,False,True
25,development-26,"They were broadly positive, though they stoppe...",his,299,Michael Billington,92,False,Martin,266,True,http://en.wikipedia.org/wiki/Life_and_Beth,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1923,development-1924,The concept of WAS is an adult parallel to the...,her,267,Dorothy Gael,169,True,Aunt Emily,234,False,http://en.wikipedia.org/wiki/Was_(novel),False,True
1935,development-1936,He also wrote and produced several songs for i...,her,266,Estelle,162,False,Nelly Furtado,190,True,http://en.wikipedia.org/wiki/Di_Genius,False,True
1976,development-1977,``Don't Cry Your Heart Out'' was radio-friendl...,her,320,Deasismont,206,False,Amy,312,True,http://en.wikipedia.org/wiki/Amy_Deasismont,False,True
1988,development-1989,Burnett Stone (Peter Fonda) is Lily's grandfat...,her,81,Lily,31,True,Lady,54,False,http://en.wikipedia.org/wiki/Thomas_the_Tank_E...,False,True
1996,development-1997,The plot of the film focuses on the life of a ...,her,246,Doris Chu,111,False,Mei,215,True,http://en.wikipedia.org/wiki/Two_Lies,False,True

In [113]:
print_sents(datas={'manual':True, 'data':none_occurance_data}, num_lines = 10)

development-1474 Later Glenn helps Michonne cut off Tyreese's arm when he is bitten and tries to haul him to safety, briefly being delayed by a truck opening and letting out numerous walker bodies with no arms and legs with ``w''s cut into their foreheads, but Tyreese dies from blood loss and Glenn stands over his service. In the episode ``Them,'' Glenn tries to comfort a grieving Maggie, still distraught over Beth's death, after she begins to doubt if she wants to live anymore.

development-1299 In 1920, Jakac returned to Novo Mesto and became the bearer of The Spring of Novo Mesto, an avant-garde movement in literature and fine arts, which included also the poets Miran Jarc and Anton Podbev*ek, the painter Ivan *argo and the composer Marij Kogoj. In 1924, he settled in Ljubljana.

development-1619 St John's Church has special association with the activity of individuals within the South Sea Islander community and Anglican Church whose activities have been significant within the history of the region and state of Queensland, including Bishop George Halford, consecrated as Anglican Bishop of Rockhampton in 1909, who was greatly respected for his long and active support of the South Sea Islander community; and Frank Solomon, the South Sea Islander community's Vicar's representative on the first St John's Mission Church Committee, who dedicated his life to this church.

development-1858 One More Drifter in the Snow is the sixth album and first Christmas album by Aimee Mann, released by SuperEgo Records in the United States on October 31, 2006 (see 2006 in music). It was produced by Paul Bryan and comprises covers of ``standard great Christmas classics'' and two original compositions: ``Christmastime'', written by Mann's husband Michael Penn, and ``Calling on Mary''. Grant-Lee Phillips sings with her on the track ``You're a Mean One, Mr. Grinch''.

development-1507 Frederick Magnus (13 January 1672 -- 24 February 1672) Frederica Augusta (21 June 1673 -- 24 July 1674) Christina Sophia (17 December 1674 -- 22 January 1676) Klaudia Magdalene Elisabeth (15 November 1675 -- 18 April 1676) Catherine (10 October 1677 -- 11 August 1746), in 1701 she married Count Johann Friedrich von Leiningen-Hartenburg Charles III William, Margrave of Baden-Durlach (17 January 1679 -- 12 May 1738), he married Magdalena Wilhelmine of W*rttemberg Johanna Elisabeth (3 October 1680 -- 2 July 1757), in 1697 she married Eberhard Louis, Duke of W*rttemberg Albertine Frederica (3 July 1682 -- 22 December 1755), in 1704 she married Christian August of Holstein-Gottorp, Prince of Eutin Christopher (9 October 1684 -- 2 May 1723), he married Marie Christine Felizitas zu Leiningen-Dagsburg-Falkenburg-Heidesheim Charlotte Sophia (1 March 1686 -- 5 October 1689) Marie Anna (9 July 1688 -- 8 March 1689)

development-1766 In the fifth season, following a five-year time jump, Karl reveals that Marissa has left him and their son, Evan (Sawyer Church), because of the stresses of motherhood. Bree Hodge (Marcia Cross), Susan's friend and neighbor, hires Karl as her divorce lawyer.

development-1870 As well he reported that she ``admitted to Bersih receiving some money from two US organisations -- the National Democratic Institute (NDI) and Open Society Institute (OSI) -- for other projects, which she stressed were unrelated to the July 9 march.'' It is believed that former US ambassador to Malaysia had lobbied strongly the Neo Cons including Al Gore, Paul Wolfowitz and Madeline Albright to award Sreenevasan the 'Woman of Courage' award from Hillary Clinton and First Lady Michelle Obama. She is a member of the Malaysian Intellectual Property Association, the International Association for the Protection of Intellectual Property (AIPPI), as well as the Asian Patent Attorneys Association (APPA).

development-1923 Cops arrested Gore and rescued Martin, who was found in the attic naked, handcuffed, and with electrical cords tied around her legs. On December 7, 1983, Gore led police to the remains of three of his six murder victims. These victims were Barbara Ann Byer, Hsiang Huang Ling and her daughter, Ying Hua Ling.

development-1640 On 9 April, Kralji* performed during the Eurovision in Concert event which was held at the Melkweg venue in Amsterdam, Netherlands and hosted by Cornald Maas and Hera Bj*rk. On 17 April, Kralji* performed during the London Eurovision Party, which was held at the Caf* de Paris venue in London, United Kingdom and hosted by Nicki French and Paddy O'Connell. In addition to her international appearances, Nina Kralji* performed ``Lighthouse'' as a musical guest during the 2016 Miss Universe Croatia pageant in Zagreb on 15 April and she also performed the song as a guest during the HRT 1 programme The Voice --

development-2000 Watkins was a close friend of Hess' first wife, Katherine Hawley. She was one of the first to send sympathy when Hawley was thrown from a horse and killed. Watkins and Hess had a son, Adam Hess, who was an attorney and secretary for the Aetna until his death in 1969; he left three daughters, Elizabeth, Faye, and Emily, the only grandchildren of Watkins. Watkins obtained her release from Fox prior to her marriage.

In [105]:
overall_analysis(train_data, [none_subject, none_most_occurance], [former_word, latter_word, closer_word, farther_word, lambda row: (False, False)])

100%|██████████| 9/9 [00:19<00:00,  2.12s/it]

  Pronoun  Length  Accuracy0  Accuracy1  Accuracy2  Accuracy3  Accuracy4
0      He      12   0.333333   0.250000   0.250000   0.333333   0.416667
1     She      13   0.461538   0.230769   0.153846   0.538462   0.307692
2     His       5   0.600000   0.000000   0.000000   0.600000   0.400000
3     Her       7   0.285714   0.142857   0.142857   0.285714   0.571429
4      he      29   0.379310   0.379310   0.379310   0.379310   0.241379
5     she      23   0.391304   0.304348   0.260870   0.434783   0.304348
6     his      50   0.260000   0.340000   0.420000   0.180000   0.400000
7     him       6   0.166667   0.500000   0.500000   0.166667   0.333333
8     her      55   0.418182   0.345455   0.345455   0.418182   0.236364
9   total     200   0.360000   0.320000   0.330000   0.350000   0.320000

In [112]:
rest = apply_model(train_data, [none_subject, none_most_occurance], begin_sentence)

200 0.35

In [5]:
overall_analysis(train_data, [], [subject])

100%|██████████| 9/9 [02:59<00:00, 19.91s/it]

  Pronoun  Length  Accuracy0
0      He     138   0.775362
1     She     179   0.754190
2     His      33   0.696970
3     Her      38   0.578947
4      he     235   0.629787
5     she     249   0.610442
6     his     496   0.663306
7     him      98   0.459184
8     her     534   0.573034
9   total    2000   0.633500

In [4]:
overall_analysis(test_data, [], [subject])

100%|██████████| 10/10 [03:22<00:00, 20.24s/it]

   Pronoun  Length  Accuracy0
0       He     127   0.811024
1      She     159   0.716981
2      His      28   0.535714
3      Her      37   0.648649
4       he     221   0.633484
5      she     237   0.649789
6      his     528   0.619318
7      him      96   0.447917
8      her     566   0.570671
9     hers       1   0.000000
10   total    2000   0.621500

In [5]:
subject_data = apply_model(test_data, [], subject)

2000 0.6215

In [ ]:
result = open("subject_word.tsv", 'w')

for row in subject_data.iloc:

    result.write("\t".join([attrs[0]] + row['A-pred'] + row['B-pred']) + "\n")

f_test.close()
result.close()

In [21]:
!python gap_scorer.py --gold_ts=gap-test.tsv --system_tsv=subject_word.tsv

Overall recall: 68.5 precision: 63.3 f1: 65.8
		tp 1215	fp 704
		fn 558	tn 1523
Masculine recall: 68.7 precision: 64.2 f1: 66.4
		tp 611	fp 340
		fn 278	tn 771
Feminine recall: 68.3 precision: 62.4 f1: 65.2
		tp 604	fp 364
		fn 280	tn 752
Bias (F/M): 0.98

gap_scorer.py:126: DeprecationWarning: 'U' mode is deprecated
  with open(filename, 'rU') as f: