In [1]:
from helper import *
from funcs import *

**tf.tsv**

always predict A-coref as True and B-coref as False

In [2]:
f_test = open("gap-test.tsv", "r")
result = open("tf.tsv", 'w')
test_data = f_test.readlines()

for line in test_data[1:]:
    attrs = line.split('\t')
    result.write("\t".join([attrs[0]] + ['True', 'False']) + "\n")

f_test.close()
result.close()

In [3]:
!python gap_scorer.py --gold_ts=gap-test.tsv --system_tsv=tf.tsv

Overall recall: 51.8 precision: 45.9 f1: 48.7gap_scorer.py:126: DeprecationWarning: 'U' mode is deprecated
  with open(filename, 'rU') as f:

		tp 918	fp 1082
		fn 855	tn 1145
Masculine recall: 51.0 precision: 45.3 f1: 48.0
		tp 453	fp 547
		fn 436	tn 564
Feminine recall: 52.6 precision: 46.5 f1: 49.4
		tp 465	fp 535
		fn 419	tn 581
Bias (F/M): 1.03

**closer.tsv**

Predict closer coreference to pronoun as True

In [4]:
f_test = open("gap-test.tsv", "r")
result = open("closer.tsv", 'w')
test_data = f_test.readlines()

for line in test_data[1:]:
    attrs = line.split('\t')
    tf = ['True', 'False']
    if abs(int(attrs[3]) - int(attrs[5])) > abs(int(attrs[3]) - int(attrs[8])):
        tf = ['False', 'True']

    result.write("\t".join([attrs[0]] + tf) + "\n")

f_test.close()
result.close()

In [5]:
!python gap_scorer.py --gold_ts=gap-test.tsv --system_tsv=closer.tsv

Overall recall: 50.1 precision: 44.4 f1: 47.1
		tp 888	fp 1112
		fn 885	tn 1115
Masculine recall: 51.6 precision: 45.9 f1: 48.6
		tp 459	fp 541
		fn 430	tn 570
Feminine recall: 48.5 precision: 42.9 f1: 45.5
		tp 429	fp 571
		fn 455	tn 545
Bias (F/M): 0.94

gap_scorer.py:126: DeprecationWarning: 'U' mode is deprecated
  with open(filename, 'rU') as f:

In [6]:
print_sents(random=True)

development-352 Stuart was devastated by Tom's disappearance and renounced his Catholic faith and his plans to become a priest. Alex and Stuart had a brief flirtation, but Alex eventually remarried Michael. Meanwhile, Rachel and Stuart's relationship had progressed. Eventually though, Rachel became jealous of his friendship with Kirsty, and was stunned when she learned that Stuart had initially been more interested in her mother, Alex.

development-1188 When Mashiro was feeling depressed due to Takumi's words, Chie suggested to Aoi to bring in Arika to cheer her up which works and pulls both out of their depression. Chie was also aware that Tomoe Marguerite was involved in numerous plots to take out Arika Yumemiya but rather than report Tomoe she orders her to stop it.

development-734 He is drawn badly and always wears a pair of glasses. First introduced in Volume 6. Tachibana (**) Rito's junior from his middleschool and also attending to Sainan High. He admires Rito's ``how to get girls' attention'' and asks Rito to help him be Haruna's 'man-in-thought', also Yui's.

development-510 She is best known for a series of well-regarded television roles including Virginia Braithwaite, daughter of a lottery winning family in the comedy drama At Home with the Braithwaites. Sparkhouse (Red Production Company / BBC 2002); and her appearance in Jane Hall (Red Production Company / ITV1 2006) marked a fruitful link between Smart and television writer Sally Wainwright. Between 2008 and 2010, she featured as Anne-Britt Hoglund in Wallander, six feature-length adaptations of Henning Mankell 's Wallander novels, for the BBC.

development-537 The work debuted with three of the movements on March 7, 1937 by the Milwaukee Symphonic Band, a group composed of members from several bands including the Blatz Brewery and Pabst Blue Ribbon beer factory worker bands in Milwaukee, Wisconsin. Unlike other composers that attempted to alter and modernize folk music for band, such as Ralph Vaughan Williams, Grainger wished to maintain the exact sense of stylizing that he experienced from the singers.

development-1641 ``I'll Remember'' earned nominations for Best Song Written Specifically for a Motion Picture or for Television at the 37th Grammy Awards and Best Original Song at the 52nd Golden Globe Awards. Robbie Daw from Idolator listed it as one of ``Madonna's 10 Best Songs That Radio Forgot'', saying that ``Madge has lost many friends and lovers over the years, but here she turns lemons into lemonade by cherishing the good times and learning from 'the way that you changed me'.''

development-1563 He only played for 30 minutes but was offered a contract on the spot. Here he settled into a midfield role. Dutton was released by Cambridge and returned to Pickering Town for the start of the 2004--05 season. Brian Dutton was invited to go on trial with Weymouth manager Steve Johnson signing Dutton, who had decided he wanted to return to the game.

development-835 The 2017 Daytona 500 was first time the ``stage format'' was used in the Daytona 500; it was set up in three stages similar to the all star race (but without the requirement to pit), where drivers are given an chance to pit if they wish to do so. Kyle Busch won the first stage earning him ten points in the new points format, Kevin Harvick won the second stage and Kurt Busch won the final stage in a dramatic last lap pass (passing Kyle Larson who ran out of gas) to win the race.

development-733 Cobra, co-written by Christos Gage and Mike Costa and drawn by Antonio Fuso, was a four-issue mini-series that started in March 2009 and focused on the inner working of the Cobra Organization as viewed through the eyes of undercover G.I. Joe agent Chuckles. By the end of the series, Chuckles is forced to kill his handler, Jinx, and loses contact with his Joe superiors.

development-1670 In November 2016 Schneider signed for Bellator. She made her debut against Chrissie Daniels at Bellator 170 on January 21, 2017. She won the fight via anaconda choke submission in the first round. Schneider faced Kate Jackson at Bellator 182 on August 25, 2017. She lost the fight via TKO due to injury at the end of the first round.

In [7]:
import pandas as pd

In [8]:
train_data = pd.read_csv('gap-development.tsv', sep='\t')
test_data = pd.read_csv('gap-test.tsv', sep='\t')
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              2000 non-null   object
 1   Text            2000 non-null   object
 2   Pronoun         2000 non-null   object
 3   Pronoun-offset  2000 non-null   int64
 4   A               2000 non-null   object
 5   A-offset        2000 non-null   int64
 6   A-coref         2000 non-null   bool
 7   B               2000 non-null   object
 8   B-offset        2000 non-null   int64
 9   B-coref         2000 non-null   bool
 10  URL             2000 non-null   object
dtypes: bool(2), int64(3), object(6)
memory usage: 144.7+ KB

**subject.tsv**

Predict farther coreference pronoun as True when pronoun is subject pronoun (he, she).
Predict closer coreference pronoun as True when pronoun is not subject pronoun, which is object or possessive pronoun(her, his, him).

In [9]:
pronouns = set(train_data['Pronoun'])
pronouns

{'He', 'Her', 'His', 'She', 'he', 'her', 'him', 'his', 'she'}

In [10]:
result = open("subject.tsv", 'w')

for attrs in test_data.iloc:
    pro, pro_id = attrs[2:4]
    A, A_id = attrs[4:6]
    B, B_id = attrs[7:9]

    if pro.lower() in ['he', 'she']:
        if abs(pro_id - A_id) > abs(pro_id - B_id):
            tf = ['TRUE', 'FALSE']
        else:
            tf = ['FALSE', 'TRUE']
    else:
        if abs(pro_id - A_id) > abs(pro_id - B_id):
            tf = ['FALSE', 'TRUE']
        else:
            tf = ['TRUE', 'FALSE']

    result.write("\t".join([attrs[0]] + tf) + "\n")

f_test.close()
result.close()

In [11]:
!python gap_scorer.py --gold_ts=gap-test.tsv --system_tsv=subject.tsv

Overall recall: 58.3 precision: 51.6 f1: 54.8
		tp 1033	fp 967
		fn 740	tn 1260
Masculine recall: 59.4 precision: 52.8 f1: 55.9
		tp 528	fp 472
gap_scorer.py:126: DeprecationWarning: 'U' mode is deprecated
  with open(filename, 'rU') as f:
		fn 361	tn 639
Feminine recall: 57.1 precision: 50.5 f1: 53.6
		tp 505	fp 495
		fn 379	tn 621
Bias (F/M): 0.96

In [12]:
false_case = 0
for attrs in test_data.iloc:
    if attrs[6] == attrs[9]:
        false_case += 1

false_case/len(test_data)

0.1135

# subject.tsv

draw a relation between two proper nouns with sentence structure

(e.g. Which one is the subject?)

In [13]:
import nltk
sent = "In the next pair, Mikhaylov equalled Grishin's time and they shared Olympic gold."
tagged_sent = nltk.pos_tag(nltk.word_tokenize(sent))

Classify train_data into several categories

1. When words are inside parenthesis
2. When words appear after the pronoun
 * When the pronoun is subject pronoun
 * When the pronoun is object/possessive pronoun
3. When the both coreferences are false
4. When only one word is subject
5. When the both words are subject
6. When none of the words are subject

In [14]:
import pandas as pd 

train_data = pd.read_csv('gap-development.tsv', sep='\t')

## 1. When words are inside parenthesis
Assume when word is inside parenthesis, coreference is always false

In [15]:
parenthesis_data = []

def isparenthesis(row):
    sent = row['Text']
    A = row['A']
    A_id = row['A-offset']
    B = row['B']
    B_id = row['B-offset']

    return (not (sent[A_id-1] == "(" and sent[A_id+len(A)] == ")"),
            not (sent[B_id-1] == "(" and sent[B_id+len(B)] == ")"))

def only_parenthesis(row):
    return sum(isparenthesis(row)) == 1

In [16]:
parenthesis_data = pd.DataFrame(parenthesis_data, columns=train_data.columns)

In [17]:
print_sents(datas={'manual':True, 'data':parenthesis_data}, num_lines = 10)

result : 22 out of 31 sentences are predicted correct --> accuracy : 71%

## 2. When words appear after the pronoun
Assume coreference of words coming after the pronoun is false

In [18]:
after_pronoun = []

for row in train_data.iloc:
    if row['Pronoun-offset'] < row['A-offset'] or row['Pronoun-offset'] < row['B-offset']:
        after_pronoun.append(row)

after_pronoun = pd.DataFrame(after_pronoun, columns=train_data.columns)

In [19]:
after_subject_pronoun = after_pronoun[after_pronoun['Pronoun'].isin(['he', 'she', 'He', 'She'])]
after_other_pronoun = after_pronoun[after_pronoun['Pronoun'].isin(['his', 'her', 'him', 'His', 'Her', 'Him'])]

In [20]:
print_sents(datas={'manual':True, 'data':after_subject_pronoun}, num_lines = 10)

development-429 Robinson composed An American Requiem, which had its New England Premiere under the direction of Dr. Robert Russell and the USM Chorale. He also wrote ``Driving Old Memories'' with his father Ervin Robinson, and the country song ``Momma Never Had Life Easy -- So She Made Life Easy for Me''. In 2012 he wrote the music for the independent documentary In the Shadows of Grey Gardens In an article entitled ``Robinson and Ragtime'', David Welker called him ``one of today's leading proponents of early jazz and ragtime music''.

development-983 Will's sheep's milk gnudi scored over Carrie's chicken fried ribeye (as she put sugar in the mashed potato she used), Amanda's eggplant rollatini and Brendan's salmon both scored a point, Jennifer's pork scored over Jonathon's ``punch-drunk'' chicken (he was even threatened with elimination on the spot after he revealed to Ramsay that he used canned pineapple slices for his dish and claimed he had ``limited time''), Paul's eggplant involtini scored over Krupa's stuffed naan, neither Jamie's lamb lollipops nor Steven's seared diver scallops earned a point (Ramsay even compared Steven's scallops to dinosaur toenails), Elise's scallops scored over Chino's dish as he used too much miso, Monterray's sea bass and Natalie's lamb both scored a point, both Elizabeth and Tommy earned a point for their dishes, and finally Gina's pan-roasted pistachio scallops lost to Jason's pork tacos as the scallops were burnt on the top.

development-1091 The Aftermath is a collection of songs released following the 'aftermath' of the Thing a Week project by comedy rock musician Jonathan Coulton. The project was originally intended to be Coulton's eighth studio album. After he was convinced to start recording in a professional studio by John Flansburgh, however, Coulton decided to scrap this project and start anew for his next album, which would later become Artificial Heart.

development-669 Newton had been urged to make a new edition of the Principia since the early 1690s, partly because copies of the first edition had already become very rare and expensive within a few years after 1687. Newton referred to his plans for a second edition in correspondence with Flamsteed in November 1694: Newton also maintained annotated copies of the first edition specially bound up with interleaves on which he could note his revisions; two of these copies still survive: but he had not completed the revisions by 1708, and of two would-be editors, Newton had almost severed connections with one, Nicolas Fatio de Duillier, and the other, David Gregory seems not to have met with Newton's approval and was also terminally ill, dying later in 1708.

development-1575 Crime boss Rusty Pirone (Armand Assante) is about to stand trial again and Daniel Graham (Gabriel Byrne) of the district attorney's office is determined this time to put him behind bars. Pirone sends one of his henchmen, a burned-out ex-cop named Tommy Vesey (William Hurt), to threaten Valerie Alston (Joanne Whalley-Kilmer), a juror. Unless she cooperates by finding Pirone innocent and deadlocking the jury, Vesey intends to do harm to Valerie's young son.

development-1780 Jeanine Basinger (born 3 February 1936), a film historian, is Corwin-Fuller Professor of Film Studies and Founder and Curator of The Cinema Archives at Wesleyan University, Middletown, Connecticut. She is also a Trustee of the American Film Institute (which awarded her an honorary degree, a Doctorate of Humane Letters, on June 7, 2006 ), a member of the Steering Committee of the National Center for Film and Video Preservation, and one of the Board of Advisors for the Association of Independent Video and Filmmakers.

development-1596 His father, the owner of an appliance store and record shop, exposed him as a young boy to prominent jazz musicians like King Oliver and Louis Armstrong, who inspired his 2014 release, Ske-Dat-De-Dat: The Spirit of Satch. Throughout his adolescence his father's connections enabled him access to the recording rooms of burgeoning rock artists such as Little Richard and Guitar Slim. From these exposures he advanced into clubs and onto the stage with varying local artists, most notably, Professor Longhair. When he was about 13 or 14 years old, Rebennack met Professor Longhair, which started a period in his life that would mark rapid growth as a musician and the beginnings of his entry into professional music.

development-1028 Kaori tells him that the reason she does not want to get close with Shiori is that she does not want to feel the intense pain that will result from Shiori's death. Kaori breaks down after saying this, crying on Yuichi and lamenting the pointlessness of Shiori's birth. After this point, Kaori starts to avoid Shiori even more than usual. When confronted by Yuichi about how she has been acting, Kaori tells him that she has no younger sister.

development-1479 He brings part of the Great Hall down on her and Uwe, who lives just long enough to reveal the plot to Benno and the court. At the lake, von Rothbart taunts Siegfried and Odette, while Odile watches from concealment. At a crucial moment, she kills him with his own dagger, then rescues Odette and Siegfried, who have jumped into the lake to drown together rather than be separated.

development-1488 Released in November 1987, the album was produced by Peter Cetera and would be her last for 17 years. Recorded mainly in Los Angeles and Malibu, California, I Stand Alone was produced by Peter Cetera, the former singer and bass guitar player with American rock band Chicago. He duetted with F*ltskog on the track ``I Wasn't the One (Who Said Goodbye)'', (No.93 Billboard Hot 100 and No.19 Adult Contemporary in the U.S.) The co-producer of the album was Bruce Gaitsch, with whom F*ltskog was in a relationship at the time.

In [21]:
def after_pronoun_predict(data):
    A_pred = []
    B_pred = []
    for row in data.iloc:
        A_value = False if row['A-offset'] > row['Pronoun-offset'] else True
        B_value = False if row['B-offset'] > row['Pronoun-offset'] else True

        A_pred.append(A_value)
        B_pred.append(B_value)

    data['A-pred'] = A_pred
    data['B-pred'] = B_pred

In [22]:
after_pronoun_predict(after_subject_pronoun)
after_pronoun_predict(after_other_pronoun)

<ipython-input-21-ceb8dec2fe17>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['A-pred'] = A_pred
<ipython-input-21-ceb8dec2fe17>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['B-pred'] = B_pred

In [23]:
print(accuracy(after_subject_pronoun))
print(accuracy(after_other_pronoun))

0.411214953271028
0.2133676092544987

Result : It doesn't really matter whether a word comes after the pronoun or not

## 3. When the both word coreference is false

Let's find out what they have in common.

In [24]:
false_cases = 0
for row in train_data.iloc:
    if row['A-coref'] == row['B-coref']:
        false_cases += 1

print(false_cases/len(train_data))
print(false_cases)

0.1005
201

There are more than 10 percent of these kind of cases

In [25]:
falses_data = train_data[(train_data['A-coref'] == False) & (train_data['B-coref'] == False)]

In [26]:
print_sents(datas={'manual':True, 'data':falses_data}, num_lines = 10)

development-255 Emma then walks out and Hook follows her, taking the fairytale book with him. Meanwhile, Regina, David, Belle, Gold, Robin, and Mary Margaret visit the jail to see if Zelena had died around the same time as the portal's opening. They see on the jail's surveillance video that she committed suicide, but are unaware that Gold altered the video to make it look like she killed herself.

development-873 In late 1515, Manuel sent it as a gift, the famous D*rer's Rhinoceros to Pope Leo X. D*rer never saw the actual rhinoceros, which was the first living example seen in Europe since Roman times, as it drowned in shipwreck. After a short stay in M*lwa, thinking it mean to take advantage of the distracted condition of Mahm*d of M*lwa, who was at war with his nobles, Muzaffar returned to Muhammad*b*d (Champaner).

development-1829 Later in the night, as part of Volume 24, she lost to Serena Deeb. On June 3, as part of Volume 25, she was able to score her second victory in Shimmer by defeating Rachel Summerlyn, in a match that also involved Ariel and Kellie Skater. After missing Volume 26 she came back on November 8, 2009, as part of the Volume 27, where she defeated Portuguese Princess Ariel in a re-match from Volume 18 with Daizee Haze as special guest referee.

development-999 Francis I of France restored its usual name early in the 16th century and it then took the nickname ``le bistourn*'' (``the twice-turned (church)''), later bowdlerised into ``le bestourn*'', possibly to bring it back closer to its old name. One of the church's chaplains was Guillaume de Villon, tutor to Fran*ois Villon, and Charles Perrault was buried in the church. In the Middle Ages the church housed an altar of Maturinus, patron of the mad and possessed, around which a devotion to him sprang up and to which many ill people were brought in hope of a cure.

development-1089 They circled back east in Spring of 1999 and moved into a farmhouse on Beech Mountain, near Boone, North Carolina. They were embraced by the Appalachian community, and their repertoire of old-time songs grew as they played with local musicians. `` After being discovered busking in Boone, North Carolina by Doc Watson--while ''playing on Doc's old corner`` where he'd ''started playing in the 1950s`` on King Street.

development-657 She was born in Paris, the non-marital daughter of the Mexican artist Diego Rivera and his mistress, the Russian-born painter Marie Vorobieff-Stebelska (``Marevna''). Rivera, who was married to Angelina Beloff at the time, did not accept his daughter. So she grew up under the care of her mother.

development-1922 Following this, the Victoria Women's Cricket Association was founded in 1905 and the Australian Women's Cricket Association in 1931. The current competition is run by the Women's National Cricket League. The Ladies' Grammar School and Kindergarten moved to Albuera Street, Battery Point, in 1898 and was run by Nellie Poulett-Harris until her retirement in December 1919, whilst Lily's twin, Violet, went on to become a relatively well-known actress on the Australian theatre circuit, under the stage name Mary Milward.

development-56 Many guests, both European and native, were invited. On approach of the May Frere at port of Bhavnagar, Colonel Barton (the political Agent), Major Woodhouse (the Assistant Political Agent) and Diwan Sahib Samaldas went in a steam launch and brought the Governor and his party ashore.

development-983 Will's sheep's milk gnudi scored over Carrie's chicken fried ribeye (as she put sugar in the mashed potato she used), Amanda's eggplant rollatini and Brendan's salmon both scored a point, Jennifer's pork scored over Jonathon's ``punch-drunk'' chicken (he was even threatened with elimination on the spot after he revealed to Ramsay that he used canned pineapple slices for his dish and claimed he had ``limited time''), Paul's eggplant involtini scored over Krupa's stuffed naan, neither Jamie's lamb lollipops nor Steven's seared diver scallops earned a point (Ramsay even compared Steven's scallops to dinosaur toenails), Elise's scallops scored over Chino's dish as he used too much miso, Monterray's sea bass and Natalie's lamb both scored a point, both Elizabeth and Tommy earned a point for their dishes, and finally Gina's pan-roasted pistachio scallops lost to Jason's pork tacos as the scallops were burnt on the top.

development-662 Tom's father, Warwick, turns up and asks his son to lease the family's wine vineyard to a mining company. Maggie tries to stay out of it, but ends up telling Warwick a few home truths. Carlos and Grace each try to help Rob and Colette. Rob meets a surfer on the South Coast and almost has sex with her, before returning home.

We can see that there are some patterns in both false sentences

1. There is another pronoun appeared before.
2. when both word is behind the pronoun, and the subject of the sentence is NNP.

1. There is another pronoun appeared before

In [27]:
def prior_pronoun(row):
    token_dict = tokenized_index(row)

    words = token_dict['words']
    word_index = token_dict['word_index']

    male = ['He', 'His', 'Him', 'he', 'his', 'him']
    female = ['She', 'Her', 'she', 'her']

    pro_id = word_index[row['Pronoun-offset']]

    if row['Pronoun'] in male:
        for word in words[:pro_id]:
            if word in male:
                return True
        return False
    elif row['Pronoun'] in female:
        for word in words[:pro_id]:
            if word in female:
                return True
        return False

    else:
        print("Unexpected pronoun : {}", row['Pronoun'])

In [28]:
prior_pronoun_data = apply_model(train_data, [prior_pronoun], lambda x: (False, False))

1141 0.10429447852760736

In [29]:
def another_subject(row):
    token_dict = tokenized_index(row)

    tagged_sents = token_dict['tagged_sents']
    sents = token_dict['sents']
    word_index = token_dict['word_index']
    sent_index = token_dict['sent_index']

    pro_sent_id = sent_index[word_index[row['Pronoun-offset']]]

    def first_noun(sent):
        for word, tag in sent:
            if tag.startswith('NN') or tag.startswith('PR'):
                return (word, tag)

    word, tag = first_noun(tagged_sents[pro_sent_id])
    if tag.startswith('NNP') and not word in [row['A'].split()[0], row['B'].split()[0]]:
        return True

    return False

In [30]:
def both_latter(row):
    if row['A-offset'] > row['Pronoun-offset'] and row['B-offset'] > row['Pronoun-offset']:
        return True

    return False

mask = train_data.apply(both_latter, axis=1)
both_latter_data = train_data[mask]

In [31]:
another_subject_data = apply_model(train_data, [both_latter, another_subject], lambda x: (False, False))

48 0.5833333333333334

In [32]:
print_sents(datas={'manual':True, 'data':another_subject_data}, num_lines = 5)

development-986 Batman is forced to fight his beloved sidekick and cures him back at the Batcave, following Two Face to the casino where he is in fact revealed to be Dent, having suppressed his bad side (* la Dr Jekyll and Mr. Hyde). Once the Dynamic Duo are strapped to a large silver dollar, he unmasks Batman and deduces Robin's true identity, then Two Face invites the Joker, Penguin, Riddler, Mr. Freeze, Egghead, Shame, Clock King and Catwoman to an auction for the highest bidder of Batman's true identity.

development-835 The 2017 Daytona 500 was first time the ``stage format'' was used in the Daytona 500; it was set up in three stages similar to the all star race (but without the requirement to pit), where drivers are given an chance to pit if they wish to do so. Kyle Busch won the first stage earning him ten points in the new points format, Kevin Harvick won the second stage and Kurt Busch won the final stage in a dramatic last lap pass (passing Kyle Larson who ran out of gas) to win the race.

development-785 But the Jewish men of letters who lived in Alexandria were by no means satisfied with the idea that Moses acquired the wisdom of the Egyptians; they claimed for him the merit of having given to Egypt, Phoenicia, and Hellas all their culture. He taught the Jews the letters, and they then became the teachers of the Phoenicians and, indirectly, of the Greeks, says Eupolemus. Artapanus of Alexandria, in his history of the Jews, went so far as to identify Moses with Tot-Hermes (the Egyptian messenger and scribe of the gods, who invented the letters, the various arts of peace and of war, as well as philosophy), and with the Greek Musaeus, ``the teacher of Orpheus.''

development-1608 Licence to Kill is one of the best of the recent Bonds.'' Jack Kroll, writing in Newsweek described Licence to Kill as ``a pure, rousingly entertaining action movie''. Kroll was mixed in his appraisal of Dalton, calling him ``a fine actor who hasn't yet stamped Bond with his own personality'', observing ``Director John Glen is the Busby Berkeley of action flicks, and his chorus line is the legendary team of Bond stunt-persons who are at their death-defying best here''.

development-1653 Claire finds herself enmeshed in a deep relationship with Gabe, but it may be shallower than she thinks when he lies to her about going to visit his father, who Claire later finds out died when Gabe was four. David fires Angela for breaking one of his mother's wine glasses, and on her way out, Angela reveals to Ruth that her son is gay.

## 4. When only one word is subject
Assume that subject word is always true, and other word is always false

In [33]:
subject_data = train_data[train_data['Pronoun'].isin(['he', 'she', 'He', 'She'])]
other_data = train_data[train_data['Pronoun'].isin(['his', 'him', 'her', 'His', 'Him', 'Her'])]
print(len(subject_data))
print(len(other_data))

801
1199

In [104]:
overall_analysis(train_data, [only_subject], [word_subject, latter_word])

100%|██████████| 9/9 [00:31<00:00,  3.45s/it]

  Pronoun  Length  Accuracy0  Accuracy1
0      He      87   0.885057   0.241379
1     She     115   0.921739   0.208696
2     His      18   0.777778   0.388889
3     Her      19   0.736842   0.210526
4      he     139   0.791367   0.374101
5     she     147   0.768707   0.435374
6     his     306   0.767974   0.535948
7     him      58   0.431034   0.534483
8     her     270   0.648148   0.607407
9   total    1159   0.749784   0.458154

## 5. When both words are subject
Assume that latter word is True, while the other is False

In [35]:
both_subject_data = train_data.apply(both_subject, axis=1)
both_subject_data = train_data[both_subject_data]
len(both_subject_data)

202

In [36]:
print_sents(datas={'manual':True, 'data':both_subject_data}, num_lines = 10)

development-254 In the present day, Emma looks happy and sees Mary Margaret holding her baby boy as she prepares for the upcoming coronation even though they haven't named him yet.

development-1330 It is up to Sauvage to continue the fight, which means bringing in a reinforcement in his friend Casey Bledsoe (Mark Griffin), and training some new recruits not of his choosing. Intending to give back to the streets that taught him toughness, Barclay insists that Sauvage compose his team of bodyguards by hiring people from Barclay's gym.

development-1034 Illinois' Governor Pat Quinn, reacting to public outrage, signed House Bill 4021 into law in August 2009 addressing many of the legal issues that grew out of the contaminated water scandal in Crestwood. WLS TV's Paul Miencke reported on August 23, 2009 ``Gov. Pat Quinn signed a bill Sunday that he says will help ensure Illinois citizens have safe, clean drinking water.

development-1576 Frost was a coach on the Australian national teams for the 1995, 1997 and 1999 Pan-Pacific Games; the 1998 Swimming World Championship and Commonwealth Games teams and the 2000 Sydney Olympic Games team. He has been a director at the Australian Swim Coaches Association since 1989 and at the Doug Frost Swim School since 1978. After Thorpe controversially changed coaches, Frost left the Sutherland club to start afresh in Southport, Queensland. In May 2005, he was appointed the head coach of the swimming program at the Australian Institute of Sport.

development-804 She decided to visit a relative in the Netherlands, and to seek help after arrival and claim asylum. Her first autobiography, Infidel (2006), was published in English in 2007. In a review, American Enterprise Institute fellow Joshua Muravchik described the book as ``simply a great work of literature,'' and compared her to novelist Joseph Conrad. In her second autobiography, Nomad (2010, in English), Hirsi Ali wrote that in early 2006, Rita Verdonk had personally approached her to ask for her public support in Verdonk's campaign to run for party leader of the VVD.

development-1143 Lynn wrote a letter to the other woman, who promptly showed it to Doolittle, who confronted Lynn, telling her to stay out of his business and that any love he had for her was gone. Lynn wrote that his statement broke her heart, and the experience eventually led her to write ``Fist City'' and the similar ``You Ain't Woman Enough''. Admitting that she was tenaciously jealous and Doolittle sometimes did not spurn the advances of other women, Lynn penned the song as a warning, later reflecting in her 2001 autobiography, ``I've been in a couple of fights in my life.

development-1561 This claim was contested by Richard Worsley, half-brother of James, in the Court of Wards and Liveries in 1563, when it was awarded that Sir Robert was to take a third, afterwards known as the manor of Ryde, while Richard was to have the part which had been bequeathed by Giles to his widow Margaret, comprising the site of the manor. Richard Worsley died at Ashey 31 August 1599, when the manor came to his son Bowyer, afterwards knighted by James I. According to his contemporary, Sir John Oglander, Sir Bowyer Worsley was a reckless, improvident man. His son John having predeceased him, he sold Ashey in 1624 to Thomas Cotele.

development-833 He used a traditional guitar style to play modern-based compositions in an extended way. And his liner notes were way cool. ' The press garnered by Death Chants was enough to get Fahey his first paying gig--a weeklong engagement at Boston's Odyssey Coffeehouse in the summer of '65.'' In his 1992 article ``Reinventing the Steel'' for Acoustic Guitar, Dale Miller described the liner notes that Fahey began including on his releases as ``hilarious yet profound and somewhat disturbing phony folklorical ramblings that spoofed the pedantic notes on many folk releases of the day.''

development-766 Riggs received his elementary training in a Baltimore private school and later attended St. Paul's School, a private preparatory school in Concord, New Hampshire. After completing his studies at St. Paul's, Riggs enrolled at Princeton University. He followed his older brother, Jesse Riggs, to Princeton. Jesse had been an All-American for Princeton's football team, and Dudley followed in his older brother's footsteps by joining the Princeton football team.

development-1100 Myra had her second daughter with Billy a year later and named her Mercedes. Billy left Myra and his daughters soon after Mercedes was born. At aged 19, Myra gave birth to Tina following a one-night stand with a married man named Marvin Bassman who refused to be involved in his daughter's life. She named her daughter after Tina Turner.

In [37]:
overall_analysis(train_data, [both_subject], [latter_word, former_word, closer_word, farther_word])

100%|██████████| 9/9 [00:14<00:00,  1.64s/it]

  Pronoun  Length  Accuracy0  Accuracy1  Accuracy2  Accuracy3
0      He      10   0.500000   0.400000   0.500000   0.400000
1     She      14   0.571429   0.428571   0.500000   0.500000
2     His       4   0.750000   0.250000   0.750000   0.250000
3     Her       0   0.000000   0.000000   0.000000   0.000000
4      he      18   0.833333   0.055556   0.833333   0.055556
5     she      25   0.640000   0.200000   0.640000   0.200000
6     his      42   0.690476   0.261905   0.690476   0.261905
7     him      22   0.181818   0.681818   0.181818   0.681818
8     her      67   0.597015   0.358209   0.611940   0.343284
9   total     202   0.594059   0.331683   0.594059   0.331683

## 6. When both words are not subject

In [38]:
none_subject_data = train_data.apply(none_subject, axis=1)
none_subject_data = train_data[none_subject_data]
len(none_subject_data)

639

In [39]:
overall_analysis(train_data, [none_subject], [latter_word, former_word, closer_word, farther_word])

100%|██████████| 9/9 [00:15<00:00,  1.77s/it]

  Pronoun  Length  Accuracy0  Accuracy1  Accuracy2  Accuracy3
0      He      41   0.390244   0.463415   0.439024   0.414634
1     She      50   0.280000   0.420000   0.240000   0.460000
2     His      11   0.181818   0.454545   0.181818   0.454545
3     Her      19   0.368421   0.368421   0.368421   0.368421
4      he      78   0.423077   0.371795   0.423077   0.371795
5     she      77   0.337662   0.402597   0.324675   0.415584
6     his     148   0.452703   0.290541   0.506757   0.236486
7     him      18   0.555556   0.222222   0.555556   0.222222
8     her     197   0.502538   0.319797   0.507614   0.314721
9   total     639   0.428795   0.347418   0.441315   0.334898

In [40]:
overall_analysis(train_data, [none_subject, both_latter, another_subject], [lambda x: (False, False)])

100%|██████████| 9/9 [00:14<00:00,  1.65s/it]

  Pronoun  Length  Accuracy0
0      He       0   0.000000
1     She       0   0.000000
2     His       0   0.000000
3     Her       0   0.000000
4      he       2   0.500000
5     she       2   1.000000
6     his      13   0.692308
7     him       0   0.000000
8     her       4   0.750000
9   total      21   0.714286

In [41]:
print_sents(datas={'manual':True, 'data':none_subject_data[none_subject_data.apply(lambda row: row['Pronoun'] in ['He','She','His','Her'], axis=1)]}, num_lines = 10)

development-1487 New York Times. May 7, 1947. Retrieved 2014-12-02. Mme. Louise Homer, noted contralto, who thrilled Metropolitan Opera audiences as Amneris in 'Aida' and in other famous roles, died here this afternoon of a heart ailment at the age of 76. She had been in ill health since the death of her youngest daughter, Joy, on Oct.

development-763 Let Go by Avril Lavigne is the 2nd best selling debut album by a Female Artist of the new millennium with more than 20 million copies sold worldwide Lavigne ``The Best Damn Thing'' is one the best selling Pop Punk album of the decade with sales over 8 million copies sold worldwide The songs ``Complicated'' and ``Girlfriend'' were ranked as one of the Billboard Hot 100 singles of the decade. Her single ``Girlfriend'' was the best selling song of 2007 worldwide with over 10 million copies sold to date.

development-1066 Alessandro Turchi worked briefly under him. As the most talented member of his father's workshop, he undoubtedly executed many works that are attributed to his father. Works that have been clearly isolated as Carlo's own are more precise and delicate, both technically and in the physical types; they lack Veronese's bravura, whether in the line and wash of a chiaroscuro drawing or in the richly layered pigments that make an embroidered drape. His early signed works show the influence of both his father and the Bassano family by whom he was trained.

development-173 On March 21, 2006, Murray was fired by the Kings and was replaced on an interim basis by John Torchetti. He provided colour commentary for the Canadian Broadcasting Corporation during their Hockey Night in Canada telecasts of the 2006 Stanley Cup playoffs. On December 11, 2006, the Blues hired Murray to replace Mike Kitchen as head coach after a seven game losing streak. He coached the Blues to a record of 33--36--13 in his first full season as coach in 2007--2008.

development-1348 The historical context of creating a grotto in the Vatican Gardens is that on 8 December 1854 the dogma of the Immaculate Conception was proclaimed by Pope Pius IX at a column of the Piazza di Spagna adorned with a statue of the Madonna or Virgin Mary. The context of the dogma was further accentuated by the visionary message given by the Madonna to Bernadette Soubirous, a young girl of 14, that ``She'' was the ``Immaculate Conception'' and that a shrine should be established for her at Massabielle near Lourdes.

development-1986 Her personal best for long jump is 6.55 m set in Bangalore on 5 June 2010 during the second Indian Grand Prix. She became only the fourth Indian woman to cross 6.50 m, joining Anju Bobby George (6.83 m), J.J. Shobha (6.66 m), and Pramila Aiyappa. She won the gold medal for her effort.

development-1496 Born in Omaha in 1953, Buffett, commonly called Susie, is the eldest child of Warren Buffett and his first wife, Susan Thompson Buffett. Her parents separated in the late 1970s (though they remained married until her mother's death in 2004).

development-280 When Gao received this news, he became even more respectful of Liang. In the aftermaths of Emperor Zhuangzong's death, Emperor Zhuangzong's adoptive brother Li Siyuan claimed imperial title (as Emperor Mingzong). Meanwhile, Gao Jixing prepared his fleet and wanted to attack Chu. His official Sun Guangxian, whom Liang Zhen had recommended to him to be his scribe, pointed out that Jingnan had barely recovered from the wars, and if it were engaged in a war with Chu, other states might take advantage and attack Jingnan.

development-1944 In the inn, the adults examine the goo covering only the blade of an ax and find out that the goo is an alien bacteria that feeds off metal, sucking the metal from human blood (humans have metal/iron in their blood) and killing them. Outside, Iron puts himself back together, and Claire and Max are still locked in Jenny's dead car (it was revealed that Iron causes static electricity and effect electronics which make the car inoperable) as Iron tries to grab Claire. She is touched, but not harmed.

development-1573 A notable theme running through his work (most notably the 'Dead' trilogy) is agalmatophilia c male lust for young female gynoid s, as well as the darker undercurrents of British national culture. His novels and stories have links and plot overlaps between one another, and together form a mythos. His ``epic masterpiece'' (``Reading Richard Calder'', Claude Lalumi*re) is said to be Malignos (2000). He cites as inspirations Angela Carter and Georges Bataille, among others.

1. when two words are close to each other, referred words are more likely to be coreferred word.

 * {True word} (,?) and {Pronoun}

In [42]:
def CC_pronoun(row):
    token_dict = tokenized_index(row)

    tagged_words = token_dict['tagged_words']
    word_index = token_dict['word_index']

    pro_index = word_index[row['Pronoun-offset']]
    A_index = word_index[row['A-offset']]
    B_index = word_index[row['B-offset']]

    def coref(index):
        if index+5 >= len(tagged_words):
            return False
        return (tagged_words[index+1][1] == 'CC' and pro_index == index + 2) or \
               (tagged_words[index+2][1] == 'CC' and pro_index == index + 3)

    return coref(A_index), coref(B_index)

def exist_CC_pronoun(row):
    return sum(CC_pronoun(row)) == 1

In [43]:
apply_model(train_data, [none_subject, exist_CC_pronoun], CC_pronoun)

15 0.9333333333333333

,ID,Text,Pronoun,Pronoun-offset,A,A-offset,A-coref,B,B-offset,B-coref,URL,A-pred,B-pred
478,development-479,Sarah Wadsworth (17 Mar 1649 - ) m. Jonathan A...,his,260,William,222,False,John Wadsworth,242,True,http://en.wikipedia.org/wiki/William_Wadsworth...,False,True
535,development-536,The orchestra moved on to the Mound Club in St...,His,267,George Burns,237,False,Tal Henry,253,True,http://en.wikipedia.org/wiki/Tal_Henry,False,True
607,development-608,Little Fish is a 2005 Australian film directed...,her,276,Liz Watts,222,False,Cate Blanchett,257,True,http://en.wikipedia.org/wiki/Little_Fish_(film),False,True
633,development-634,The royalties from the performances of the wor...,his,310,Frankie Laine,277,False,Paul Weston,296,True,http://en.wikipedia.org/wiki/Jalousie_'Tango_T...,False,True
694,development-695,They moved to Go**bki near Warsaw with their t...,her,289,Krystyna Izbicki,256,False,Anna Zofia,274,True,http://en.wikipedia.org/wiki/Jerzy_and_Irena_K...,False,True
756,development-757,"Immediately after Blackwood's penalty, wide re...",he,332,Theismann,277,False,Garrett,319,True,http://en.wikipedia.org/wiki/Super_Bowl_XVII,False,True
778,development-779,Not only was it the first scholarly edition of...,Her,290,Mary Lascelles,257,True,Jane Austen,274,False,http://en.wikipedia.org/wiki/Jane_Austen,False,True
1212,development-1213,Truth or Dare by Madonna is a lifestyle brand ...,her,321,Material Girl,258,False,Madonna,309,True,http://en.wikipedia.org/wiki/Truth_or_Dare_by_...,False,True
1320,development-1321,"However, Archie Mitchell uses Suzy to plant DN...",she,317,Queen Victoria,278,False,Suzy,308,True,http://en.wikipedia.org/wiki/Suzy_Branning,False,True
1468,development-1469,"He declared that if James were dead, he would ...",his,313,James,232,False,Brokesby,300,True,http://en.wikipedia.org/wiki/Francis_Brokesby,False,True
1511,development-1512,"He is a well known expert, consultant and auth...",his,593,Rodolfo de Anda,506,False,Antonio Aguilar,573,True,http://en.wikipedia.org/wiki/Million_Dollar_Th...,False,True
1873,development-1874,"The novel is set in Bath, Somerset and centres...",her,225,Abigail Wendover,76,False,Stacey,213,True,http://en.wikipedia.org/wiki/Black_Sheep_(novel),False,True
1902,development-1903,William A. Tudor (born 1964) and ex- wife Moni...,her,310,Michelle H. Jennings,167,False,Holly Hathorn,292,True,http://en.wikipedia.org/wiki/Buddy_Tudor,False,True
1976,development-1977,``Don't Cry Your Heart Out'' was radio-friendl...,her,320,Deasismont,206,False,Amy,312,True,http://en.wikipedia.org/wiki/Amy_Deasismont,False,True
1981,development-1982,The Season Nine DVD contains a number of delet...,her,285,Phyllis,211,False,Erin,276,True,http://en.wikipedia.org/wiki/Finale_(The_Office),False,True

2. Located in the beggining of a sentence.

In [ ]:
def begin_sentence(row):

    token_dict = tokenized_index(row)
    tagged_sents = token_dict['tagged_sents']

    Subjects = []

    def first_NP(sent):

        first_np = ""
        index=0
        while sent[index][1].startswith('NN') or sent[index][1].startswith('W') or sent[index][1] in ["'s", 'DT', 'IN', 'CD']:
            while sent[index][1].startswith('NNP'):
                first_np += sent[index][0] + " "
                if index < len(sent) - 1:
                    index += 1
                else:
                    break

            if len(first_np) > 0:
                Subjects.append(first_np)

            if index < len(sent) - 1:
                index += 1
            else:
                break

    def tagged_split(tagged_sent):
        splitted = []
        index = 0
        
        while(index < len(tagged_sent)):
            try:
                new_index = tagged_sent[index:].index((',',','))
                splitted.append(tagged_sent[index:index+new_index])
                index += new_index+1
            except:
                splitted.append(tagged_sent[index:])
                return splitted

    for sent in tagged_sents:
        for sub_sent in tagged_split(sent):
        
            first_np = first_NP(sub_sent)

    def exist(word):
        for first_word in Subjects:
            if word in first_word:
                return True
            elif first_word in word:
                return True
        return False

    return (exist(row['A']), exist(row['B']))

def begin_sentence_word(row):
    return sum(begin_sentence(row)) == 1

In [85]:
def tagged_split(tagged_sent):
    splitted = []
    index = 0
    
    while(index < len(tagged_sent)):
        try:
            new_index = tagged_sent[index:].index((',',','))
            splitted.append(tagged_sent[index:index+new_index])
            index += new_index+1
        except:
            splitted.append(tagged_sent[index:])
            return splitted

In [90]:
tagged_split(nltk.pos_tag(nltk.word_tokenize("Sojeong, who likes sweet thing, always go to Subway,.")))

[[('Sojeong', 'NNP')],
 [('who', 'WP'), ('likes', 'VBZ'), ('sweet', 'JJ'), ('thing', 'NN')],
 [('always', 'RB'), ('go', 'VBP'), ('to', 'TO'), ('Subway', 'NNP')],
 [('.', '.')]]

In [64]:
def most_occurance(row):

    token_dict = tokenized_index(row)
    tagged_words = token_dict['tagged_words']

    index=0
    NPs = []
    NP_dict = {}

    while index < len(tagged_words):
        np = ""
        while index < len(tagged_words) and tagged_words[index][1].startswith('NNP'):
            np += tagged_words[index][0] + " "
            index += 1
        
        if len(np) > 0:
            NPs.append(np[:-1])

        index += 1

    def occurance(word):
        occ = 0
        for w in NPs:
            if w in word:
                occ += 1

        return occ

    for word in set(NPs):
        NP_dict[word] = occurance(word)

    max_occ = sorted(NP_dict.items(), key = (lambda x: x[1]), reverse=True)[0]

    if max_occ[1] > 1:
        return [NP for NP in NP_dict if NP_dict[NP] == max_occ[1]]
    else:
        return None

def more_occurance(row):

    most_occs = most_occurance(row)

    if most_occs == None:
        return (True, True)

    def exist(word, words):
        for w in words:
            if word in w or w in word:
                return True
        return False

    return (exist(row['A'], most_occs), exist(row['B'], most_occs))

def only_most_occurance(row):
    return sum(more_occurance(row)) == 1

def none_most_occurance(row):
    return sum(more_occurance(row)) == 0

def both_most_occurance(row):
    return more_occurance(row) == (True, True)

In [46]:
overall_analysis(train_data, [none_subject, only_most_occurance], [more_occurance])

100%|██████████| 9/9 [00:22<00:00,  2.51s/it]

  Pronoun  Length  Accuracy0
0      He      20   0.700000
1     She      16   0.562500
2     His       4   0.750000
3     Her       9   0.555556
4      he      26   0.653846
5     she      34   0.441176
6     his      59   0.576271
7     him       9   0.555556
8     her      92   0.597826
9   total     269   0.583643

In [47]:
none_occurance_data = none_subject_data[none_subject_data.apply(none_most_occurance, axis=1)]

In [48]:
both_occurance_data = none_subject_data[none_subject_data.apply(both_most_occurance, axis=1)]

In [49]:
print(len(none_occurance_data))
print(len(both_occurance_data))

200
170

In [103]:
print_sents(datas={'manual':True, 'data':both_occurance_data[both_occurance_data.apply(lambda row: row['Pronoun'] in ['He','She','His','Her'], axis=1)]}, num_lines = 10)

development-1487 New York Times. May 7, 1947. Retrieved 2014-12-02. Mme. Louise Homer, noted contralto, who thrilled Metropolitan Opera audiences as Amneris in 'Aida' and in other famous roles, died here this afternoon of a heart ailment at the age of 76. She had been in ill health since the death of her youngest daughter, Joy, on Oct.

development-962 After Dark Shadows ended in 1971, she had a brief stint as reporter Marge Grey on All My Children (1973). She continued acting on stage as Warda in Jean Genet's The Screens (1971--72) and The Lady in Gray/The Fly in Happy End (1977) which co-starred Meryl Streep and Christopher Lloyd. She appeared in the Broadway premiere of The Suicide (1980) with Derek Jacobi, and appeared opposite Geraldine Page, Carrie Nye and Madeline Sherwood in an off-Broadway revival of The Madwoman of Chaillot.

development-1230 Ang Lalaking Nagmahal Sa Akin by Vanessa, a romance writer from PHR, is the story of Flor who moves from the province to the city to in a hotel. She falls in love with the owner of the hotel, Zephy.

development-35 Kevin John Coyne of Country Universe gave the song a B rating, saying that ``does breakup about as good as anybody'' and that he doesn't believe Keith is ``capable of turning in a weak vocal performance.'' Bobby Peacock of Roughstock gave the song a 3.5/5 rating, saying that the production is ``looser and funkier'' than on Keith's other songs. He goes on to say that it ``contrasts with the more downbeat lyrics of a fairly standard broken-heart song.''

development-160 He was promoted to major on 14 August 1790, and to lieutenant-colonel on 9 December 1793. On 4 July 1785 at Barnes in Surrey, he married Henrietta Anne Hoare, a daughter of Sir Richard Hoare, 1st Baronet of Barn Elms, a partner in the City of London banking firm C. Hoare & Co, and Frances Anne Acland. She survived him and in 1795 remarried to Captain the Hon. Matthew Fortescue (1754--1842), Royal Navy, younger brother of Hugh Fortescue, 1st Earl Fortescue of Castle Hill, Filleigh, Devon.

development-1259 Close starred in Things You Can Tell Just by Looking at Her in the same year, this would be one of many future collaborations with director Rodrigo Garcia. In 2004, she played Claire Wellington, an uptight socialite in the comedy The Stepford Wives opposite Nicole Kidman and Christopher Walken. She provided the voice of the Blue Fairy in the English version of Pinocchio (2002) and Granny in the animated film Hoodwinked (2005).

development-837 Lawrence asks Nefarious for his employ again and the two take the ship, flying off into space. A clear parody of Britney Spears, Courtney Gears (voiced by Melissa Disney in Up Your Arsenal, Nika Futterman in Ratchet: Deadlocked) is a female pop star robot who occasionally gives out prizes on the show, Annihilation Nation. Her music and videos are popular in the Solana Galaxy.

development-529 In 1927, she won a cash prize for her designs, from the Rondith Corporation. Muir focused on designing modern private homes, especially for clients in Malibu, Pacific Palisades, and other affluent Southern California communities. Among her celebrity clients were Shirley Temple, Robert Taylor and Barbara Stanwyck. She earned her architecture license in 1934, and continued at the Byers office until 1942.

development-1066 Alessandro Turchi worked briefly under him. As the most talented member of his father's workshop, he undoubtedly executed many works that are attributed to his father. Works that have been clearly isolated as Carlo's own are more precise and delicate, both technically and in the physical types; they lack Veronese's bravura, whether in the line and wash of a chiaroscuro drawing or in the richly layered pigments that make an embroidered drape. His early signed works show the influence of both his father and the Bassano family by whom he was trained.

development-1986 Her personal best for long jump is 6.55 m set in Bangalore on 5 June 2010 during the second Indian Grand Prix. She became only the fourth Indian woman to cross 6.50 m, joining Anju Bobby George (6.83 m), J.J. Shobha (6.66 m), and Pramila Aiyappa. She won the gold medal for her effort.

In [106]:
overall_analysis(train_data, [none_subject, both_most_occurance], [former_word, latter_word, closer_word, farther_word, lambda row: (False, False)])

100%|██████████| 9/9 [00:18<00:00,  2.10s/it]

  Pronoun  Length  Accuracy0  Accuracy1  Accuracy2  Accuracy3  Accuracy4
0      He       9   0.555556   0.444444   0.444444   0.555556   0.000000
1     She      21   0.428571   0.142857   0.142857   0.428571   0.428571
2     His       2   0.500000   0.000000   0.000000   0.500000   0.500000
3     Her       3   0.000000   1.000000   1.000000   0.000000   0.000000
4      he      23   0.478261   0.217391   0.260870   0.434783   0.304348
5     she      20   0.400000   0.400000   0.350000   0.450000   0.200000
6     his      39   0.128205   0.615385   0.564103   0.179487   0.256410
7     him       3   0.000000   0.666667   0.666667   0.000000   0.333333
8     her      50   0.280000   0.560000   0.560000   0.280000   0.160000
9   total     170   0.311765   0.452941   0.441176   0.323529   0.235294

In [56]:
apply_model(train_data, [none_subject, both_most_occurance, lambda row: row['Pronoun'] in ['Her','his','him','her']], latter_word)

95 0.6

,ID,Text,Pronoun,Pronoun-offset,A,A-offset,A-coref,B,B-offset,B-coref,URL,A-pred,B-pred
3,development-4,The current members of Crime have also perform...,his,321,Hell,174,False,Henry Rosenthal,336,True,http://en.wikipedia.org/wiki/Crime_(band),False,True
6,development-7,Reb Chaim Yaakov's wife is the sister of Rabbi...,his,273,Reb Asher,152,False,Akiva Eiger,253,False,http://en.wikipedia.org/wiki/Asher_Arieli,False,True
10,development-11,William Shatner portraying writer Mark Twain; ...,his,300,Peter Mansbridge,168,False,David Onley,212,True,http://en.wikipedia.org/wiki/Murdoch_Mysteries,False,True
13,development-14,ARTA driver Vitantonio Liuzzi will be replaced...,his,340,Kazuki Nakajima,275,True,Oliver Jarvis,297,False,http://en.wikipedia.org/wiki/2015_Super_GT_Series,False,True
25,development-26,"They were broadly positive, though they stoppe...",his,299,Michael Billington,92,False,Martin,266,True,http://en.wikipedia.org/wiki/Life_and_Beth,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1923,development-1924,The concept of WAS is an adult parallel to the...,her,267,Dorothy Gael,169,True,Aunt Emily,234,False,http://en.wikipedia.org/wiki/Was_(novel),False,True
1935,development-1936,He also wrote and produced several songs for i...,her,266,Estelle,162,False,Nelly Furtado,190,True,http://en.wikipedia.org/wiki/Di_Genius,False,True
1976,development-1977,``Don't Cry Your Heart Out'' was radio-friendl...,her,320,Deasismont,206,False,Amy,312,True,http://en.wikipedia.org/wiki/Amy_Deasismont,False,True
1988,development-1989,Burnett Stone (Peter Fonda) is Lily's grandfat...,her,81,Lily,31,True,Lady,54,False,http://en.wikipedia.org/wiki/Thomas_the_Tank_E...,False,True
1996,development-1997,The plot of the film focuses on the life of a ...,her,246,Doris Chu,111,False,Mei,215,True,http://en.wikipedia.org/wiki/Two_Lies,False,True

In [113]:
print_sents(datas={'manual':True, 'data':none_occurance_data}, num_lines = 10)

development-1474 Later Glenn helps Michonne cut off Tyreese's arm when he is bitten and tries to haul him to safety, briefly being delayed by a truck opening and letting out numerous walker bodies with no arms and legs with ``w''s cut into their foreheads, but Tyreese dies from blood loss and Glenn stands over his service. In the episode ``Them,'' Glenn tries to comfort a grieving Maggie, still distraught over Beth's death, after she begins to doubt if she wants to live anymore.

development-1299 In 1920, Jakac returned to Novo Mesto and became the bearer of The Spring of Novo Mesto, an avant-garde movement in literature and fine arts, which included also the poets Miran Jarc and Anton Podbev*ek, the painter Ivan *argo and the composer Marij Kogoj. In 1924, he settled in Ljubljana.

development-1619 St John's Church has special association with the activity of individuals within the South Sea Islander community and Anglican Church whose activities have been significant within the history of the region and state of Queensland, including Bishop George Halford, consecrated as Anglican Bishop of Rockhampton in 1909, who was greatly respected for his long and active support of the South Sea Islander community; and Frank Solomon, the South Sea Islander community's Vicar's representative on the first St John's Mission Church Committee, who dedicated his life to this church.

development-1858 One More Drifter in the Snow is the sixth album and first Christmas album by Aimee Mann, released by SuperEgo Records in the United States on October 31, 2006 (see 2006 in music). It was produced by Paul Bryan and comprises covers of ``standard great Christmas classics'' and two original compositions: ``Christmastime'', written by Mann's husband Michael Penn, and ``Calling on Mary''. Grant-Lee Phillips sings with her on the track ``You're a Mean One, Mr. Grinch''.

development-1507 Frederick Magnus (13 January 1672 -- 24 February 1672) Frederica Augusta (21 June 1673 -- 24 July 1674) Christina Sophia (17 December 1674 -- 22 January 1676) Klaudia Magdalene Elisabeth (15 November 1675 -- 18 April 1676) Catherine (10 October 1677 -- 11 August 1746), in 1701 she married Count Johann Friedrich von Leiningen-Hartenburg Charles III William, Margrave of Baden-Durlach (17 January 1679 -- 12 May 1738), he married Magdalena Wilhelmine of W*rttemberg Johanna Elisabeth (3 October 1680 -- 2 July 1757), in 1697 she married Eberhard Louis, Duke of W*rttemberg Albertine Frederica (3 July 1682 -- 22 December 1755), in 1704 she married Christian August of Holstein-Gottorp, Prince of Eutin Christopher (9 October 1684 -- 2 May 1723), he married Marie Christine Felizitas zu Leiningen-Dagsburg-Falkenburg-Heidesheim Charlotte Sophia (1 March 1686 -- 5 October 1689) Marie Anna (9 July 1688 -- 8 March 1689)

development-1766 In the fifth season, following a five-year time jump, Karl reveals that Marissa has left him and their son, Evan (Sawyer Church), because of the stresses of motherhood. Bree Hodge (Marcia Cross), Susan's friend and neighbor, hires Karl as her divorce lawyer.

development-1870 As well he reported that she ``admitted to Bersih receiving some money from two US organisations -- the National Democratic Institute (NDI) and Open Society Institute (OSI) -- for other projects, which she stressed were unrelated to the July 9 march.'' It is believed that former US ambassador to Malaysia had lobbied strongly the Neo Cons including Al Gore, Paul Wolfowitz and Madeline Albright to award Sreenevasan the 'Woman of Courage' award from Hillary Clinton and First Lady Michelle Obama. She is a member of the Malaysian Intellectual Property Association, the International Association for the Protection of Intellectual Property (AIPPI), as well as the Asian Patent Attorneys Association (APPA).

development-1923 Cops arrested Gore and rescued Martin, who was found in the attic naked, handcuffed, and with electrical cords tied around her legs. On December 7, 1983, Gore led police to the remains of three of his six murder victims. These victims were Barbara Ann Byer, Hsiang Huang Ling and her daughter, Ying Hua Ling.

development-1640 On 9 April, Kralji* performed during the Eurovision in Concert event which was held at the Melkweg venue in Amsterdam, Netherlands and hosted by Cornald Maas and Hera Bj*rk. On 17 April, Kralji* performed during the London Eurovision Party, which was held at the Caf* de Paris venue in London, United Kingdom and hosted by Nicki French and Paddy O'Connell. In addition to her international appearances, Nina Kralji* performed ``Lighthouse'' as a musical guest during the 2016 Miss Universe Croatia pageant in Zagreb on 15 April and she also performed the song as a guest during the HRT 1 programme The Voice --

development-2000 Watkins was a close friend of Hess' first wife, Katherine Hawley. She was one of the first to send sympathy when Hawley was thrown from a horse and killed. Watkins and Hess had a son, Adam Hess, who was an attorney and secretary for the Aetna until his death in 1969; he left three daughters, Elizabeth, Faye, and Emily, the only grandchildren of Watkins. Watkins obtained her release from Fox prior to her marriage.

In [105]:
overall_analysis(train_data, [none_subject, none_most_occurance], [former_word, latter_word, closer_word, farther_word, lambda row: (False, False)])

100%|██████████| 9/9 [00:19<00:00,  2.12s/it]

  Pronoun  Length  Accuracy0  Accuracy1  Accuracy2  Accuracy3  Accuracy4
0      He      12   0.333333   0.250000   0.250000   0.333333   0.416667
1     She      13   0.461538   0.230769   0.153846   0.538462   0.307692
2     His       5   0.600000   0.000000   0.000000   0.600000   0.400000
3     Her       7   0.285714   0.142857   0.142857   0.285714   0.571429
4      he      29   0.379310   0.379310   0.379310   0.379310   0.241379
5     she      23   0.391304   0.304348   0.260870   0.434783   0.304348
6     his      50   0.260000   0.340000   0.420000   0.180000   0.400000
7     him       6   0.166667   0.500000   0.500000   0.166667   0.333333
8     her      55   0.418182   0.345455   0.345455   0.418182   0.236364
9   total     200   0.360000   0.320000   0.330000   0.350000   0.320000

In [112]:
rest = apply_model(train_data, [none_subject, none_most_occurance], begin_sentence)

200 0.35